<!--<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>-->
<!--<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>-->
<!--<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!--<sec:csrfMetaTags />-->
		<script type="text/javascript">
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 6.4 +"px";
					var deviceWidth = document.documentElement.clientWidth;
					if (deviceWidth > 640) {
						deviceWidth = 640;
					}
			document.documentElement.style.fontSize = deviceWidth / 6.4 + "px";
		</script>
		<title>投诉举报</title>
		<link rel="stylesheet" href="../../static_resources/lib/css/weui.min.css">
		<link rel="stylesheet" href="../../static_resources/lib/css/jquery-weui.css">
		<link rel="stylesheet" href="../../static_resources/lib/css/demos.css">
		<link rel="stylesheet" type="text/css" href="../../static_resources/css/Complaint/Complaint.css"/>
	</head>
	<body>
		<!--投诉举报-->
		<div class="weui_tab">
			<div class="margin_top">
				<div class="weui-cells weui-cells_form">
				  	<div class="weui-cell">
					    <div class="weui-cell__hd"><label class="weui-label">投诉类型：</label></div>
					    <div class="weui-cell__bd">
					      	<select class="weui_select complaintType" name="select1">
			 					<option selected="" value="1">金融消费侵权</option>
			 					<option value="2">金融违法活动</option>
			 					<option value="3">非法金融广告</option>
			 				</select>
					    </div>
				  	</div>
				</div>
				<div class="weui-cells weui-cells_form">
				  	<div class="weui-cell">
					    <div class="weui-cell__hd"><label class="weui-label">市县区域：</label></div>
					    <div class="weui-cell__bd region">
					      	<select class="weui_select district" name="select1">
			 					<option selected="请选择区域" value="0">请选择区域</option>
			 				</select>
					    </div>
				  	</div>
				</div>
				<div class="weui-cells weui-cells_form">
				  	<div class="weui-cell">
				     	<div class="weui-cell__hd"><label class="weui-label">乡镇街道：</label></div>
					    <div class="weui-cell__bd">
					      	<select class="weui_select street" name="select1">
			 					<option selected="请选择区域" value="0">请选择区域</option>
			 				</select>
					    </div>
				  	</div>
				</div>
				<div class="weui-cells weui-cells_form">
				  	<div class="weui-cell">
					    <div class="weui-cell__hd"><label class="weui-label">金融机构：</label></div>
					    <div class="weui-cell__bd">
					      	<select class="weui_select mechanism" name="select1">
			 					<option selected="请选择机构" value="0">请选择机构</option>
			 				</select>
					    </div>
				  	</div>
				</div>
				<div class="weui-cells weui-cells_form">
				  	<div class="weui-cell">
					    <div class="weui-cell__hd"><label class="weui-label">投诉内容：</label></div>
					    <div class="weui-cell__bd">
					      	<textarea class="weui-textarea content" placeholder="" rows="3"></textarea>
					    </div>
				  	</div>
				</div>
				<button class="weui_btn weui_btn_primary Complaint">投诉</button>
				<div class="tips">
					<div class="tipstext">
						<span class="Written">提示语</span>
						<button class="weui_btn weui_btn_primary Sure">确定</button>
					</div>
				</div>
			</div>
		</div>
	<script src="../../static_resources/lib/js/jquery-2.1.4.js"></script>
	<script src="../../static_resources/lib/js/fastclick.js"></script>
	<script src="../../static_resources/js/jquery-weui.js"></script>

	<script src="../../static_resources/js/Complaint/Complaint.js"></script>
	</body>
</html>