<!--<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>-->
<!--<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>-->
<!--<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>-->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<sec:csrfMetaTags/>-->
    <meta name="Keywords" content="系统管理">
    <meta name="Description" content="系统管理">
    <title>系统管理</title>
    <link href="../../admin_resources/lib/iconfont/iconfont.css" type="text/css" rel="stylesheet">
    <link href="../../admin_resources/lib/layui/css/layui.css" type="text/css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../../admin_resources/lib/js/html5shiv.js"></script>
    <script src="../../admin_resources/lib/js/respond.js"></script>
    <![endif]-->
    <link href="../../admin_resources/lib/zTree/metroStyle/metroStyle.css" type="text/css" rel="stylesheet">
    <link href="../../admin_resources/lib/css/animate.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../admin_resources/lib/css/resetStyle.css"/>
    <link rel="stylesheet" type="text/css" href="../../admin_resources/lib/css/resetUi.css"/>
    <link rel="stylesheet" type="text/css" href="../../admin_resources/css/orgManage/orgManage.css"/>
    <style>
        .layui-form-label{
            width:150px;
        }
    </style>
</head>
<body>
<div class="wrap">
    <!-- 查询条件 -->
    <div class="layui-form" style="margin-bottom: 5px;">
        <div class="layui-form-item">
            <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label">机构代码:</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" placeholder="" class="layui-input" id="orgCode" name="orgCode">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label">机构名称:</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" placeholder="" class="layui-input" id="orgName" name="orgName">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label">机构类型:</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<select id="orgType" name="orgType">-->
                        <!--<option value=""></option>-->
                        <!--<option value="1">协会</option>-->
                        <!--<option value="2">银行</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-inline">-->
            <!--<label class="layui-form-label">市县区域:</label>-->
            <!--<div class="layui-input-inline">-->
            <!--<input type="text" placeholder="" class="layui-input" >-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-inline">-->
            <!--<label class="layui-form-label">市县区域:</label>-->
            <!--<div class="layui-input-inline">-->
            <!--<input type="text" placeholder="" class="layui-input" >-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label">联系人工号：</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" placeholder="" class="layui-input" id="staffNumber" name="staffNumber">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label">联系人姓名：</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" placeholder="" class="layui-input" id="staffName" name="staffName">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label">手机号码：</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" placeholder="" class="layui-input" id="mobile" name="mobile">-->
                <!--</div>-->
            <!--</div>-->
            <div class="layui-inline">
                <button class="layui-btn layui-btn-custom-blue" lay-submit lay-filter="searchBtn" id="searchBtn">刷新
                </button>
                <button class="layui-btn layui-btn-custom-blue" id="addBtn">新增问题</button>
                <button class="layui-btn layui-btn-custom-blue" id="addWenjuan">新增问卷</button>
            </div>
        </div>
    </div>
    <!-- 数据渲染 -->
    <table id="dataTable" lay-filter="dataTable"></table>
    <!-- 表格分页 -->
    <div class="custom-page-box" id="dataPage"></div>
</div>
<script type="text/javascript" src="../../admin_resources/lib/js/jquery-1.12.2.min.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/layui/layui.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/zTree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/echarts/echarts.min.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/json2.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/jquery.nicescroll.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/jsrender-min.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/easy.ajax.js"></script>
<!-- 表头toolbar模板 -->
<div id="dataTableToolBarTpl" style="display: none;">
    <!--<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="edit">修改</a>-->
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</div>
<!-- 机构类型模板 -->
<script type="text/html" id="dataTableOrgTypeTpl">
    {{# if(d.orgType == '1'){ }}
    <span>协会</span>
    {{# }else if(d.orgType == '2'){ }}
    <span>银行</span>
    {{# } else { }}

    {{# } }}
</script>
<!-- 编辑模态框 -->
<div id="addWentiModel" style="display: none;">
    <div class="layui-form">
        <div class="layui-form-item layui-row layui-col-space20" style="margin: 0;">
            <div class="layui-inline layui-col-xs12" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    题目:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input type="text" placeholder="" name="question" class="layui-input" lay-verify="required" id="question">
                </div>
            </div>
            <div class="layui-inline layui-col-xs12" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    选项一(正确选项):
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input type="text" placeholder="" name="option1" class="layui-input" lay-verify="required" id="option1">
                </div>
            </div>
            <div class="layui-inline layui-col-xs12 " style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    选项二:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input type="text" placeholder="" name="option2" class="layui-input" lay-verify="required" id="option2">
                </div>
            </div>
            <div class="layui-inline layui-col-xs12" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    选项三:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input type="text" placeholder="" name="option3" class="layui-input" lay-verify="required" id="option3">
                </div>
            </div>
            <div class="layui-inline layui-col-xs12" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    选项四:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input type="text" placeholder="" name="option4" class="layui-input" lay-verify="required" id="option4">
                </div>
            </div>

        </div>
        <div class="layui-form-item layui-row layui-col-space20" style="margin: 0;">
            <div class="layui-inline layui-col-xs12">
                <div class="layui-input-inline" style="width: 100%;text-align: right;">
                    <button class="layui-btn layui-btn-primary" id="cancelModelBtn">取消</button>
                    <button class="layui-btn layui-btn-custom-blue" lay-submit lay-filter="saveModelBtn" data-id=""
                            id="saveModelBtn">保存
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addWenjuanModel" style="display: none;">
    <div class="layui-form">
        <div class="layui-form-item layui-row layui-col-space20" style="margin: 0;">
            <div class="layui-inline layui-col-xs12" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    问卷名:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input type="text" placeholder="" name="questionnaireName" class="layui-input" lay-verify="required" id="questionnaireName">
                </div>
            </div>
            <!--<div class="layui-inline layui-col-xs12" style="margin-bottom: -10px;">-->
               <!--<table style="width: 100%;" border="1">-->
                   <!--<thead>-->
                        <!--<th>ID</th>-->
                        <!--<th>题目</th>-->
                        <!--<th>选项1(正确)</th>-->
                        <!--<th>选项2</th>-->
                        <!--<th>选项3</th>-->
                        <!--<th>选项4</th>-->
                   <!--</thead>-->
                   <!--<tbody id="wentiBody">-->

                   <!--</tbody>-->
               <!--</table>-->
            <!--</div>-->
        </div>
        <div class="layui-form-item layui-row layui-col-space20" style="margin: 0;">
            <div class="layui-inline layui-col-xs12">
                <div class="layui-input-inline" style="width: 100%;text-align: right;">
                    <button class="layui-btn layui-btn-primary" id="cancelWenjuanModelBtn">取消</button>
                    <button class="layui-btn layui-btn-custom-blue" lay-submit lay-filter="saveWenjuanModelBtn" data-id=""
                            id="saveWenjuanModelBtn">保存
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../admin_resources/lib/js/require.js"
        data-main="../../admin_resources/js/wenti/wenti"></script>
</body>
</html>