<!--<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%><%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %><%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>-->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="Keywords" content="系统管理">
    <meta name="Description" content="系统管理">
    <title>系统管理</title>
    <link href="../../admin_resources/lib/iconfont/iconfont.css" type="text/css" rel="stylesheet">
    <link href="../../admin_resources/lib/layui/css/layui.css" type="text/css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../../admin_resources/lib/js/html5shiv.js"></script>
    <script src="../../admin_resources/lib/js/respond.js"></script>
    <![endif]-->
    <link href="../../admin_resources/lib/zTree/metroStyle/metroStyle.css" type="text/css" rel="stylesheet">
    <link href="../../admin_resources/lib/css/animate.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../admin_resources/lib/css/resetStyle.css"/>
    <link rel="stylesheet" type="text/css" href="../../admin_resources/lib/css/resetUi.css"/>
    <link rel="stylesheet" type="text/css" href="../../admin_resources/css/finaCialRelease/finaCialRelease.css"/>
</head>
<body>
<!--理财产品发布-->
<div class="wrap">
    <!-- 查询条件 -->
    <div class="layui-form" style="margin-bottom: 5px;">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">产品代码:</label>
                <div class="layui-input-inline">
                    <input name="productCode" type="text" placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">产品名称:</label>
                <div class="layui-input-inline">
                    <input name="productName" type="text" placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">年利率:</label>
                <div class="layui-input-inline">
                    <input type="text" placeholder="" name="interestRate"  class="layui-input">
                </div>
            </div>
            <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label">申请周期:</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" placeholder="" class="layui-input">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label">产品简介:</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" name="productIntro" placeholder="" class="layui-input">-->
                <!--</div>-->
            <!--</div>-->
            <div class="layui-inline">
                <label class="layui-form-label">产品类别:</label>
                <div class="layui-input-inline" >
                    <select name="productSubType">
                        <option value=""></option>
                        <option value="1">存款</option>
                        <option value="2">国债</option>
                        <option value="3">货币基金</option>
                        <option value="4">理财</option>
                        <option value="5">其他理财</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">截止日期:</label>
                <div class="layui-input-inline">
                    <input type="text" placeholder="" name="presentationTime" class="layui-input" id="presentationTime">
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layui-btn-custom-blue" lay-submit lay-filter="searchBtn" id="searchBtn">查询
                </button>
                <button class="layui-btn layui-btn-custom-blue" id="addBtn">发布</button>
            </div>
        </div>
    </div>
    <!-- 数据渲染 -->
    <table id="dataTable" lay-filter="dataTable"></table>
    <!-- 表格分页 -->
    <div class="custom-page-box" id="dataPage"></div>
</div>
<script type="text/javascript" src="../../admin_resources/lib/js/jquery-1.12.2.min.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/layui/layui.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/zTree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/echarts/echarts.min.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/json2.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/jquery.nicescroll.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/jsrender-min.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/easy.ajax.js"></script>
<!-- 表头toolbar模板 -->
<div id="dataTableToolBarTpl" style="display: none;">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</div>
<!-- 编辑模态框 -->
<div id="editModel" style="display: none;">
    <div class="layui-form">
        <div class="layui-form-item layui-row layui-col-space20" style="margin: 0;">
            <div class="layui-inline layui-col-xs6" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    产品代码:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input name="model_productCode" type="text" placeholder="" class="layui-input" lay-verify="required">
                </div>
            </div>
            <div class="layui-inline layui-col-xs6" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    产品名称:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input name="model_productName" type="text" placeholder="" class="layui-input" lay-verify="required">
                </div>
            </div>
            <div class="layui-inline layui-col-xs6" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    产品类别:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <select lay-verify="required" name="model_productSubType">
                        <option value=""></option>
                        <option value="1">存款</option>
                        <option value="2">国债</option>
                        <option value="3">货币基金</option>
                        <option value="4">理财</option>
                        <option value="5">其他理财</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline layui-col-xs6" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    年利率:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input name="model_interestRate" type="text" placeholder="" class="layui-input" lay-verify="required">
                </div>
            </div>
            <div class="layui-inline layui-col-xs6" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    截止日期:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input name="model_expirationTime" type="text" placeholder="" class="layui-input" id="EndTime">
                </div>
            </div>
            <!--<div class="layui-inline layui-col-xs6" style="margin-bottom: -10px;">-->
                <!--<label class="layui-form-label" style="float:none;text-align: left;">-->
                    <!--<b style="color: #f00;">*</b>-->
                    <!--申请周期:-->
                <!--</label>-->
                <!--<div class="layui-input-inline" style="width: 100%;">-->
                    <!--<input type="text" placeholder="" class="layui-input" lay-verify="required">-->
                <!--</div>-->
            <!--</div>-->
            <div class="layui-inline layui-col-xs6" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    产品简介:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input type="text" name="model_productIntroduction" placeholder="" class="layui-input" lay-verify="required">
                </div>
            </div>
            <div class="layui-inline layui-col-xs6" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    产品详情介绍:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <textarea name="model_article" placeholder="请输入内容" class="layui-textarea" lay-verify="required"></textarea>
                    <!--<input type="text" name="model_article" placeholder="" class="layui-input" lay-verify="required">-->
                </div>
            </div>
            <input type="hidden" name="btnAction" value="">
            <input type="hidden" name="productId" value="">
        </div>
        <div class="layui-form-item layui-row layui-col-space20" style="margin: 0;">
            <div class="layui-inline layui-col-xs12">
                <div class="layui-input-inline" style="width: 100%;text-align: right;">
                    <button type="button" class="layui-btn layui-btn-primary" id="cancelModelBtn">取消</button>
                    <button type="button" class="layui-btn layui-btn-custom-blue" lay-submit lay-filter="saveModelBtn"
                            id="saveModelBtn">保存
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../admin_resources/lib/js/require.js"
        data-main="../../admin_resources/js/finaCialRelease/finaCialRelease"></script>
</body>
</html>