<!--<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>-->
<!--<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>-->
<!--<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script type="text/javascript">
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 6.4 +"px";
					var deviceWidth = document.documentElement.clientWidth;
					if (deviceWidth > 640) {
						deviceWidth = 640;
					}
			document.documentElement.style.fontSize = deviceWidth / 6.4 + "px";
		</script>
		<title>云浮市普惠金融服务平台</title>
		<link rel="stylesheet" href="../static_resources/lib/css/weui.min.css">
		<link rel="stylesheet" href="../static_resources/lib/css/jquery-weui.css">
		<link rel="stylesheet" href="../static_resources/lib/css/demos.css">
		<link rel="stylesheet" type="text/css" href="../static_resources/css/index.css"/>
	</head>
	<body>
		<section class="weui_body">
			<section class="weui_top">
				<div class="weui_top_div">
	 				<img class="" src="../static_resources/images/u2805_img.png" alt="">
	 			</div>
				<h3>云浮市普惠金融服务平台</h3>
				<p>本平台系统主要致力于加强对小微企业、创业者、弱势群体等领域的金融服务。用户可通过该平台进行在线网点服务预约，投诉举报、查看学习知识要点和公告信息</p>
				<a href="./communication/communication.html">关注公众号</a>
			</section>
		</section>
		<div class="weui_panel weui_panel_access">
	 		<div class="weui_panel_hd">消息</div>
	 		<div class="weui_panel_bd">
	 			<a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
		 			<div class="weui_media_bd">
	 					<p class="weui_media_desc">二维码付款需做好遮挡，注意安全！</p>
					</div>
					<div class="weui_media_hd">
		 				<img class="weui_media_appmsg_thumb" src="../static_resources/images/u2814_img.jpg" alt="">
		 			</div>
	 			</a>
	 		</div>
	 	</div>
 	<script src="../static_resources/lib/js/jquery-2.1.4.js"></script>
	<script src="../static_resources/lib/js/fastclick.js"></script>
	<script src="../static_resources/js/jquery-weui.js"></script>
	</body>
</html>