<!--<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>-->
<!--<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>-->
<!--<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script type="text/javascript">
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 6.4 +"px";
					var deviceWidth = document.documentElement.clientWidth;
					if (deviceWidth > 640) {
						deviceWidth = 640;
					}
			document.documentElement.style.fontSize = deviceWidth / 6.4 + "px";
		</script>
		<title>金融知识</title>
		<link rel="stylesheet" href="../../static_resources/lib/css/weui.min.css">
		<link rel="stylesheet" href="../../static_resources/lib/css/jquery-weui.css">
		<link rel="stylesheet" href="../../static_resources/lib/css/demos.css">
		<link rel="stylesheet" type="text/css" href="../../static_resources/css/knowledge/knowledge.css"/>

		<link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
		<link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">

		<!-- body 最后 -->
		<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
		<link rel="stylesheet" href="../dist/mescroll.min.css">
		<script src="../dist/mescroll.min.js" type="text/javascript" charset="utf-8"></script>
		<style>
			.weui-navbar{
				position: fixed;
				top: 0;
				z-index: 100;
			}
			.mescroll {
				position: fixed;
				top: 50px;
				bottom: 0;
				height: auto;
				background: #fff;
				z-index: 99;
			}
		</style>
	</head>
	<body>
	<div class="weui-tab">
		<div class="weui-navbar">
			<a class="weui-navbar__item weui-bar__item--on" href="#tab1" i="0">
				银行类
			</a>
			<a class="weui-navbar__item" href="#tab2" i="1">
				保险类
			</a>
			<a class="weui-navbar__item" href="#tab3" i="2">
				证券类
			</a>
			<a class="weui-navbar__item" href="#tab4" i="3">
				外汇类
			</a>
			<a class="weui-navbar__item" href="#tab5" i="4">
				其他类
			</a>
		</div>
		<div class="weui-tab__bd">
			<div id="mescroll0" class="weui-tab__bd-item weui-tab__bd-item--active mescroll" >
				<h1>银行类</h1>
				<ul id="dataList0" class="data-list">
				</ul>
			</div>
			<div id="mescroll1" class="weui-tab__bd-item mescroll" >
				<h1>保险类</h1>
				<ul id="dataList1" class="data-list">
				</ul>
			</div>
			<div id="mescroll2" class="weui-tab__bd-item mescroll" >
				<h1>证券类</h1>
				<ul id="dataList2" class="data-list">
				</ul>
			</div>
			<div id="mescroll3" class="weui-tab__bd-item mescroll" >
				<h1>外汇类</h1>
				<ul id="dataList3" class="data-list">
				</ul>
			</div>
			<div id="mescroll4" class="weui-tab__bd-item mescroll" >
				<h1>其他类</h1>
				<ul id="dataList4" class="data-list">
				</ul>
			</div>
		</div>
	</div>

	<script src="../../static_resources/lib/js/jquery-2.1.4.js"></script>
	<script src="../../static_resources/lib/js/fastclick.js"></script>
	<script src="../../static_resources/js/jquery-weui.js"></script>
	<script>


        $(function(){
          var curNavIndex=0;//首页0; 奶粉1; 面膜2; 图书3;
          var mescrollArr=new Array(4);//4个菜单所对应的4个mescroll对象
          //初始化首页
          mescrollArr[0]=initMescroll("mescroll0", "dataList0");

          /*初始化菜单*/
          $(".weui-navbar__item").on("click",function (e) {
            if($(this).hasClass("weui-bar__item--on")){
              e.preventDefault();
            }
            var i=Number($(this).attr("i"));
            $("#mescroll"+curNavIndex).hide();

            $("#mescroll"+i).show();
            if(mescrollArr[i]==null){
              mescrollArr[i]=initMescroll("mescroll"+i, "dataList"+i);
            }
            curNavIndex=i;
          })

          // $(".nav p").click(function(){
          //   var i=Number($(this).attr("i"));
          //   if(curNavIndex!=i) {
          //     //更改列表条件
          //     $(".nav .active").removeClass("active");
          //     $(this).addClass("active");
          //     //隐藏当前列表和回到顶部按钮
          //     $("#mescroll"+curNavIndex).hide();
          //     mescrollArr[curNavIndex].hideTopBtn();
          //     //显示对应的列表
          //     $("#mescroll"+i).show();
          //     //取出菜单所对应的mescroll对象,如果未初始化则初始化
          //     if(mescrollArr[i]==null){
          //       mescrollArr[i]=initMescroll("mescroll"+i, "dataList"+i);
          //     }else{
          //       //检查是否需要显示回到到顶按钮
          //       var curMescroll=mescrollArr[i];
          //       var curScrollTop=curMescroll.getScrollTop();
          //       if(curScrollTop>=curMescroll.optUp.toTop.offset){
          //         curMescroll.showTopBtn();
          //       }else{
          //         curMescroll.hideTopBtn();
          //       }
          //     }
          //     //更新标记
          //     curNavIndex=i;
          //   }
          // })

          /*创建MeScroll对象*/
          function initMescroll(mescrollId,clearEmptyId){
            //创建MeScroll对象,内部已默认开启下拉刷新,自动执行up.callback,刷新列表数据;
            var mescroll = new MeScroll(mescrollId, {
              //上拉加载的配置项
              up: {
                callback: getListData, //上拉回调,此处可简写; 相当于 callback: function (page) { getListData(page); }
                isBounce: false, //此处禁止ios回弹,解析(务必认真阅读,特别是最后一点): http://www.mescroll.com/qa.html#q10
                noMoreSize: 4, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看; 默认5
                empty: {
                  icon: "../image/mescroll-empty.png", //图标,默认null
                  tip: "暂无相关数据~", //提示
                  btntext: "看看其他知识>", //按钮,默认""
                  btnClick: function(){//点击按钮的回调,默认null

                  }
                },
                clearEmptyId: clearEmptyId, //相当于同时设置了clearId和empty.warpId; 简化写法;默认null; 注意vue中不能配置此项
                toTop:{ //配置回到顶部按钮
                  src : "../image/mescroll-totop.png", //默认滚动到1000px显示,可配置offset修改
                  //offset : 1000
                },
                lazyLoad: {
                  use: true // 是否开启懒加载,默认false
                }
              }
            });
            return mescroll;
          }

          /*联网加载列表数据  page = {num:1, size:10}; num:当前页 从1开始, size:每页数据条数 */
          function getListData(page){
            //联网加载数据
            var dataIndex=curNavIndex; //记录当前联网的nav下标,防止快速切换时,联网回来curNavIndex已经改变的情况;
            getListDataFromNet(dataIndex, page.num, page.size, function(pageData){
              //联网成功的回调,隐藏下拉刷新和上拉加载的状态;
              //mescroll会根据传的参数,自动判断列表如果无任何数据,则提示空;列表无下一页数据,则提示无更多数据;
              console.log("dataIndex="+dataIndex+", curNavIndex="+curNavIndex+", page.num="+page.num+", page.size="+page.size+", pageData.length="+pageData.length);

              //方法一(推荐): 后台接口有返回列表的总页数 totalPage
              //mescrollArr[dataIndex].endByPage(pageData.length, totalPage); //必传参数(当前页的数据个数, 总页数)

              //方法二(推荐): 后台接口有返回列表的总数据量 totalSize
              //mescrollArr[dataIndex].endBySize(pageData.length, totalSize); //必传参数(当前页的数据个数, 总数据量)

              //方法三(推荐): 您有其他方式知道是否有下一页 hasNext
              //mescrollArr[dataIndex].endSuccess(pageData.length, hasNext); //必传参数(当前页的数据个数, 是否有下一页true/false)

              //方法四 (不推荐),会存在一个小问题:比如列表共有20条数据,每页加载10条,共2页.如果只根据当前页的数据个数判断,则需翻到第三页才会知道无更多数据,如果传了hasNext,则翻到第二页即可显示无更多数据.
              mescrollArr[dataIndex].endSuccess(pageData.length);

              //提示:pageData.length必传的原因:
              // 1.判断是否有下一页的首要依据: 当传的值小于page.size时,则一定会认为无更多数据.
              // 2.比传入的totalPage, totalSize, hasNext具有更高的判断优先级
              // 3.使配置的noMoreSize生效

              //设置列表数据
              setListData(pageData,dataIndex);
            }, function(){
              //联网失败的回调,隐藏下拉刷新和上拉加载的状态;
              mescrollArr[dataIndex].endErr();
            });
          }

          /*设置列表数据
           * pageData 当前页的数据
           * dataIndex 数据属于哪个nav */
          function setListData(pageData,dataIndex){
            var listDom=document.getElementById("dataList"+dataIndex);
            for (var i = 0; i < pageData.length; i++) {
              var item=pageData[i];
			  var str = `
			  	<a href="../noticeDetail/noticeDetail.html?noticeId=${item.id}" style="display: flex;flex-direction: row;justify-content: space-between;align-items: center;color: #000;padding: 5px 30px;border-bottom: 1px solid #eee;">
        			<div>
        				${item.articleTitle}
							</div>
							<div>
								${item.createDateString}
							</div>
						</a>
			  `;
              var liDom=document.createElement("li");
              liDom.innerHTML=str;
              listDom.appendChild(liDom);
            }
          }

          /*联网加载列表数据
           在您的实际项目中,请参考官方写法: http://www.mescroll.com/api.html#tagUpCallback
           请忽略getListDataFromNet的逻辑,这里仅仅是在本地模拟分页数据,本地演示用
           实际项目以您服务器接口返回的数据为准,无需本地处理分页.
           * */
          function getListDataFromNet(curNavIndex,pageNum,pageSize,successCallback,errorCallback) {
            var channelId = 6;
            if(curNavIndex==0){
              channelId = 2
            }else if(curNavIndex==1){
              channelId = 3
            }else if(curNavIndex==2){
              channelId = 4
            }else if(curNavIndex==3){
              channelId = 5
            } else if(curNavIndex==4){
              channelId = 7
            }
            var _data = {
              channelId: channelId,
              pageNo:pageNum,
              pageSize: pageSize
            }
            //延时一秒,模拟联网
            setTimeout(function () {
              $.ajax({
                type: "post",
                url: host + "/article/findArticlePageByChannel",
                async : true,
                cache : false,
                data: JSON.stringify(_data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data){

                  var listData = data.articleList;

                  //回调
                  successCallback(listData);
                },
                error: errorCallback
              });
            },500)
          }

        });
	</script>
	</body>
</html>