<!--<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>-->
<!--<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>-->
<!--<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!--<sec:csrfMetaTags />-->
		<script type="text/javascript">
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 6.4 +"px";
					var deviceWidth = document.documentElement.clientWidth;
					if (deviceWidth > 640) {
						deviceWidth = 640;
					}
			document.documentElement.style.fontSize = deviceWidth / 6.4 + "px";
		</script>
		<title>金融知识</title>
		<link rel="stylesheet" href="../../static_resources/lib/css/weui.min.css">
		<link rel="stylesheet" href="../../static_resources/lib/css/jquery-weui.css">
		<link rel="stylesheet" href="../../static_resources/lib/css/demos.css">
		<link rel="stylesheet" type="text/css" href="../../static_resources/css/normal/normal.css"/>
	</head>
	<body>
		<!--正常受理状态-->
		<a style="display:block;background:#007aff;margin: 0 auto;margin-top:30px;height: 30px;line-height: 30px;width: 50%;border-radius:5px;color: #fff;text-decoration: none;text-align: center;" id="goToBind" href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxf13c1b9265f72eff&redirect_uri=http%3A%2F%2Fwww.yunfucpa.com%2FweixinHtml%2FmanagerBind%2FmanagerBind.html&response_type=code&scope=snsapi_base&state=#wechat_redirect">点击此处绑定工作人员</a>
		<div class="weui-cells weui-cells_form margintop">
		  	<div class="weui-cell">
			    <div class="weui-cell__hd"><label class="weui-label">申请状态：</label></div>
			    <div class="weui-cell__bd">
			      	<select class="weui_select ReservationStatusType" name="select1">
	 					<option selected="" value="1">申请中</option>
	 					<option value="2">已受理</option>
	 					<option value="3">已拒绝</option>
	 					<option value="4">已履约</option>
	 					<option value="5">已爽约</option>
	 				</select>
			    </div>
		  	</div>
		</div>
		<p id="nodata" style="display: none;text-align: center;">暂无数据</p>
		<div class="weui_tab">

			<!--<div class="margin_top">-->
				<!--<hr>-->
				<!--<div class="weui-cells weui-cells_form">-->
				  	<!--<div class="weui-cell">-->
					    <!--<div class="weui-cell__hd"><label class="weui-label">受理号：</label></div>-->
					    <!--<div class="weui-cell__bd">-->
					      	<!--<input class="weui-input" readonly>-->
					    <!--</div>-->
				  	<!--</div>-->
				<!--</div>-->
				<!--<div class="weui-cells weui-cells_form">-->
				  	<!--<div class="weui-cell">-->
					    <!--<div class="weui-cell__hd"><label class="weui-label"> 预约状态：</label></div>-->
					    <!--<div class="weui-cell__bd">-->
					      	<!--<input class="weui-input" readonly>-->
					    <!--</div>-->
				  	<!--</div>-->
				<!--</div>-->
				<!--<div class="weui-cells weui-cells_form">-->
				  	<!--<div class="weui-cell">-->
					    <!--<div class="weui-cell__hd"><label class="weui-label">预约时间：</label></div>-->
					    <!--<div class="weui-cell__bd">-->
					      	<!--<input class="weui-input" readonly>-->
					    <!--</div>-->
				  	<!--</div>-->
				<!--</div>-->
				<!--<div class="weui-cells weui-cells_form">-->
				  	<!--<div class="weui-cell">-->
					    <!--<div class="weui-cell__hd"><label class="weui-label"> 受理员工姓名：</label></div>-->
					    <!--<div class="weui-cell__bd">-->
					      	<!--<input class="weui-input" readonly>-->
					    <!--</div>-->
				  	<!--</div>-->
				<!--</div>-->
				<!--<div class="weui-cells weui-cells_form">-->
				  	<!--<div class="weui-cell">-->
					    <!--<div class="weui-cell__hd"><label class="weui-label">备注：</label></div>-->
					    <!--<div class="weui-cell__bd">-->
					      	<!--<input class="weui-input" readonly>-->
					    <!--</div>-->
				  	<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="margin_top">-->
				<!--<hr>-->
				<!--<div class="weui-cells weui-cells_form">-->
					<!--<div class="weui-cell">-->
						<!--<div class="weui-cell__hd"><label class="weui-label">受理号：</label></div>-->
						<!--<div class="weui-cell__bd">-->
							<!--<input class="weui-input" readonly>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="weui-cells weui-cells_form">-->
					<!--<div class="weui-cell">-->
						<!--<div class="weui-cell__hd"><label class="weui-label"> 预约状态：</label></div>-->
						<!--<div class="weui-cell__bd">-->
							<!--<input class="weui-input" readonly>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="weui-cells weui-cells_form">-->
					<!--<div class="weui-cell">-->
						<!--<div class="weui-cell__hd"><label class="weui-label">预约时间：</label></div>-->
						<!--<div class="weui-cell__bd">-->
							<!--<input class="weui-input" readonly>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="weui-cells weui-cells_form">-->
					<!--<div class="weui-cell">-->
						<!--<div class="weui-cell__hd"><label class="weui-label"> 受理员工姓名：</label></div>-->
						<!--<div class="weui-cell__bd">-->
							<!--<input class="weui-input" readonly>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="weui-cells weui-cells_form">-->
					<!--<div class="weui-cell">-->
						<!--<div class="weui-cell__hd"><label class="weui-label">备注：</label></div>-->
						<!--<div class="weui-cell__bd">-->
							<!--<input class="weui-input" readonly>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="margin_top">-->
				<!--<hr>-->
				<!--<div class="weui-cells weui-cells_form">-->
					<!--<div class="weui-cell">-->
						<!--<div class="weui-cell__hd"><label class="weui-label">受理号：</label></div>-->
						<!--<div class="weui-cell__bd">-->
							<!--<input class="weui-input" readonly>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="weui-cells weui-cells_form">-->
					<!--<div class="weui-cell">-->
						<!--<div class="weui-cell__hd"><label class="weui-label"> 预约状态：</label></div>-->
						<!--<div class="weui-cell__bd">-->
							<!--<input class="weui-input" readonly>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="weui-cells weui-cells_form">-->
					<!--<div class="weui-cell">-->
						<!--<div class="weui-cell__hd"><label class="weui-label">预约时间：</label></div>-->
						<!--<div class="weui-cell__bd">-->
							<!--<input class="weui-input" readonly>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="weui-cells weui-cells_form">-->
					<!--<div class="weui-cell">-->
						<!--<div class="weui-cell__hd"><label class="weui-label"> 受理员工姓名：</label></div>-->
						<!--<div class="weui-cell__bd">-->
							<!--<input class="weui-input" readonly>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="weui-cells weui-cells_form">-->
					<!--<div class="weui-cell">-->
						<!--<div class="weui-cell__hd"><label class="weui-label">备注：</label></div>-->
						<!--<div class="weui-cell__bd">-->
							<!--<input class="weui-input" readonly>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		</div>
	<script src="../../static_resources/lib/js/jquery-2.1.4.js"></script>
	<script src="../../static_resources/lib/js/fastclick.js"></script>
	<script src="../../static_resources/js/jquery-weui.js"></script>

	<script src="../../static_resources/js/normal/normal.js"></script>
	</body>
</html>