<!--<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%><%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %><%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>-->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<sec:csrfMetaTags/>-->
    <meta name="Keywords" content="系统管理">
    <meta name="Description" content="系统管理">
    <title>系统管理</title>
    <link href="../../admin_resources/lib/iconfont/iconfont.css" type="text/css" rel="stylesheet">
    <link href="../../admin_resources/lib/layui/css/layui.css" type="text/css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../../admin_resources/lib/js/html5shiv.js"></script>
    <script src="../../admin_resources/lib/js/respond.js"></script>
    <![endif]-->
    <link href="../../admin_resources/lib/zTree/metroStyle/metroStyle.css" type="text/css" rel="stylesheet">
    <link href="../../admin_resources/lib/css/animate.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../admin_resources/lib/css/resetStyle.css"/>
    <link rel="stylesheet" type="text/css" href="../../admin_resources/lib/css/resetUi.css"/>
    <link rel="stylesheet" type="text/css" href="../../admin_resources/css/orgTreeManage/orgTreeManage.css"/>
    <style>
        .layui-input-inline{
            display: flex;
            flex-direction: row;
        }
    </style>
</head>
<body>
<div class="wrap">
    <div class="layui-form" style="margin-bottom: 5px;">
        <div class="layui-form-item">
            <label class="layui-form-label">一级</label>
            <div class="layui-input-inline">
                <select name="firstOrg" id="firstOrg" lay-filter="firstOrg" disabled>

                </select>
            </div>
            <label class="layui-form-label">二级</label>
            <div class="layui-input-inline">
                <select name="secondOrg" id="secondOrg" lay-filter="secondOrg">
                    <option value="">请选择</option>
                </select>
                <button class="layui-btn layui-btn-normal" id="addSecendOrg">添加二级</button>
            </div>
            <label class="layui-form-label">三级</label>
            <div class="layui-input-inline">
                <select name="thirdOrg" id="thirdOrg" lay-filter="thirdOrg">
                    <option value="">请选择</option>
                </select>
                <button class="layui-btn layui-btn-normal" id="addThirdOrg">添加三级</button>
            </div>
        </div>
    </div>

    <!-- 数据渲染 -->
    <table id="dataTable" lay-filter="dataTable"></table>
    <!-- 表格分页 -->
    <div class="custom-page-box" id="dataPage"></div>
</div>
<script type="text/javascript" src="../../admin_resources/lib/js/jquery-1.12.2.min.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/layui/layui.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/zTree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/echarts/echarts.min.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/json2.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/jquery.nicescroll.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/jsrender-min.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/easy.ajax.js"></script>
<!-- 组织机构类型模板 -->
<script type="text/x-jsrender" id="organizationTypeTpl">
    {{if orgTypeName !== '法人'}}
        <option value="{{:orgTypeId}}">{{:orgTypeName}}</option>
    {{/if}}

</script>
<script type="text/x-jsrender" id="organizationTypeAllTpl">
    <option value="{{:orgTypeId}}">{{:orgTypeName}}</option>

</script>
<div id="dataTableToolBarTpl" style="display: none;">
    <!--<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="edit">修改</a>-->
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</div>
<div id="editModel" style="display: none;">
    <div class="layui-form">
        <div class="layui-form-item layui-row layui-col-space20" style="margin: 0;">
            <div class="layui-inline layui-col-xs6" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    机构代码:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input name="model_orgCode" type="text" placeholder="" class="layui-input" lay-verify="required">
                </div>
            </div>
            <div class="layui-inline layui-col-xs6" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    机构名称:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input name="model_orgName" type="text" placeholder="" class="layui-input" lay-verify="required">
                </div>
            </div>
            <div class="layui-inline layui-col-xs4" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    一级区域:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <select disabled lay-verify="required" name="model_geogralphicalId_1" id="model_geogralphicalId_1" lay-filter="model_geogralphicalId_1">

                    </select>
                </div>
            </div>
            <div class="layui-inline layui-col-xs4" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    二级区域:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <select lay-verify="required" name="model_geogralphicalId_2" id="model_geogralphicalId_2" lay-filter="model_geogralphicalId_2">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline layui-col-xs4" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    三级区域:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <select lay-verify="required" name="model_geogralphicalId_3" id="model_geogralphicalId_3" lay-filter="model_geogralphicalId_3">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <input type="hidden" name="belongTo" value="" id="belongTo">\
            <input type="hidden" name="orgGrade" value="" id="orgGrade">
        </div>
        <div class="layui-form-item layui-row layui-col-space20" style="margin: 0;">
            <div class="layui-inline layui-col-xs12">
                <div class="layui-input-inline" style="width: 100%;text-align: right;">
                    <button style="float: right;" type="button" class="layui-btn layui-btn-primary" id="cancelModelBtn">取消</button>
                    <button style="float: right;" type="button" class="layui-btn layui-btn-custom-blue" lay-submit lay-filter="saveModelBtn"
                            id="saveModelBtn">保存
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../admin_resources/lib/js/require.js"
        data-main="../../admin_resources/js/orgTreeManage/orgTreeManage"></script>
</body>
</html>