*{
	list-style: none;
	font-size: 14px;
	color: #333;
}
.weui_tab_top{
	width: 100%;
	height: 0.84rem;
	line-height: 0.84rem;
	text-align: center;
	background: #333333;
	color: #fff;
}
.weui_tab_top>a{
	color: #fff;
	padding-left: 0.2rem;
	float: left;
}
.weui_tab_top>h6{
	color: #fff;
	padding-right: 1.2rem;
}
.weui-cells{
	width: 50%;
	float: left;
}
.weui-cell{
	border: 0.01rem solid #E4E4E4;
}
.weui-cell__hd{
	display: block;
	width: 1.83rem;
	height: 1.8rem;
	margin: 0.1rem auto;
}
.weui-cell__hd>img{
	width: 100%;
}
.weui-cell__bd{
	text-align: center;
	margin-bottom: 0.5rem;
}
