*{
	list-style: none;
	font-size: 14px;
	color: #333;
}
.weui_body{
	border-bottom: 0.1rem solid #E4E4E4;
	padding: 0 0.02rem;
}
.weui_panel_hd:after{
	border: 0;
}
.weui_panel:after,.weui_panel:before{
	border: 0;
}
.weui_media_box{
	padding-top: 0;
}
.weui-row {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
[class*="weui-col-"] {
    border: 1px solid #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #66CCFF;
}
.weui_tab_top{
	width: 100%;
	height: 0.84rem;
	line-height: 0.84rem;
	text-align: center;
	background: #333333;
	color: #fff;
}
.weui_tab_top>a{
	color: #fff;
	padding-left: 0.2rem;
	float: left;
}
.weui_tab_top>h6{
	color: #fff;
	padding-right: 1.2rem;
}