/**
 * 公共样式表
 * 网页布局
 */
.menu-bar{
	width: 180px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}
.search-btn{
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}
.menu-box{
	width: 178px;
	position: absolute;
	left: 0;
	top: 45px;
	bottom: 0;
	border: 1px solid #e6e6e6;
	overflow: auto;
}
.menu-content{
	position: absolute;
	left: 190px;
	right: 0;
	top: 0;
	bottom: 0;
}