<!--<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%><%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %><%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>-->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<sec:csrfMetaTags/>-->
    <meta name="Keywords" content="系统管理">
    <meta name="Description" content="系统管理">
    <title>系统管理</title>
    <link href="../../admin_resources/lib/iconfont/iconfont.css" type="text/css" rel="stylesheet">
    <link href="../../admin_resources/lib/layui/css/layui.css" type="text/css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../../admin_resources/lib/js/html5shiv.js"></script>
    <script src="../../admin_resources/lib/js/respond.js"></script>
    <![endif]-->
    <link href="../../admin_resources/lib/zTree/metroStyle/metroStyle.css" type="text/css" rel="stylesheet">
    <link href="../../admin_resources/lib/umeditor/themes/default/css/umeditor.min.css" type="text/css" rel="stylesheet">
    <link href="../../admin_resources/lib/css/animate.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../admin_resources/lib/css/resetStyle.css"/>
    <link rel="stylesheet" type="text/css" href="../../admin_resources/lib/css/resetUi.css"/>
    <link rel="stylesheet" type="text/css" href="../../admin_resources/lib/css/easy_umeditor.css"/>
    <link rel="stylesheet" type="text/css" href="../../admin_resources/css/knowledgePromotion/knowledgePromotion.css"/>
    <style>
        .edui-image-wrapper .edui-tab-nav>li:first-child{
            display: none !important;
        }
        .edui-image-wrapper .edui-tab-nav>li:nth-child(2){
            display: block !important;
        }
        .edui-tab-content>div:first-child{
            display: none !important;
        }
        .edui-tab-content>div:nth-child(2){
            display: block !important;
        }
    </style>
</head>
<body>
<div class="wrap">
    <!-- 查询条件 -->
    <div class="layui-form" style="margin-bottom: 5px;">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">发布时间:</label>
                <div class="layui-input-inline">
                    <input type="text" placeholder="" class="layui-input" id="releaseTime" name="releaseTime">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">知识类型:</label>
                <div class="layui-input-inline">
                    <select name="searchMsgType" id="searchMsgType">
                        <option value=""></option>
                        <option value="2">银行类</option>
                        <option value="3">保险类</option>
                        <option value="4">证券类</option>
                        <option value="5">外汇类</option>
                        <option value="7">其他类</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layui-btn-custom-blue" lay-submit lay-filter="searchBtn" id="searchBtn">查询
                </button>
                <button class="layui-btn layui-btn-custom-blue" id="addBtn">新增</button>
            </div>
        </div>
    </div>
    <!-- 数据渲染 -->
    <table id="dataTable" lay-filter="dataTable"></table>
    <!-- 表格分页 -->
    <div class="custom-page-box" id="dataPage"></div>
</div>
<script type="text/javascript" src="../../admin_resources/lib/js/jquery-1.12.2.min.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/layui/layui.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/zTree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/echarts/echarts.min.js"></script>
<script type="text/javascript" charset="gbk" src="../../admin_resources/lib/umeditor/umeditor.config.js"></script>
<script type="text/javascript" charset="gbk" src="../../admin_resources/lib/umeditor/umeditor.min.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/umeditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/json2.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/jquery.nicescroll.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/jsrender-min.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/easy.ajax.js"></script>
<!-- 表头toolbar模板 -->
<div id="dataTableToolBarTpl" style="display: none;">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</div>
<!-- 编辑模态框 -->
<div id="editModel" style="display: none;overflow: scroll;">
    <div class="layui-form">
        <div class="layui-form-item layui-row layui-col-space20" style="margin: 0;">
            <div class="layui-inline layui-col-xs12" style="margin: 0px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    知识类型:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <select lay-verify="required" id="msgType" name="msgType">
                        <option value=""></option>
                        <option value="2">银行类</option>
                        <option value="3">保险类</option>
                        <option value="4">证券类</option>
                        <option value="5">外汇类</option>
                        <option value="7">其他类</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline layui-col-xs12" style="margin-bottom: -15px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    信息模板:
                </label>
                <div class="layui-input-inline" style="width: 100%;margin-bottom: 5px;">
                    <input type="text" placeholder="请输入标题" lay-verify="required" class="layui-input" id="conTitle" name="conTitle">
                </div>
                <div class="layui-input-inline" style="width: 100%;">
                    <div type="text/plain" id="msgTpl" style="width: 100%;height:300px;"></div>
                    <!--<button class="layui-btn layui-btn-custom-blue select-pic-btn" id="msgTplSelectPicBtn">插入图片</button>-->
                </div>
                <input type="hidden" value="" name="model_action" id="model_action">
                <input type="hidden" value="" name="model_action_id" id="model_action_id">
            </div>
        </div>
        <div class="layui-form-item layui-row layui-col-space20" style="margin: 0;">
            <div class="layui-inline layui-col-xs12">
                <div class="layui-input-inline" style="width: 100%;text-align: right;">
                    <button class="layui-btn layui-btn-primary" id="cancelModelBtn">取消</button>
                    <button class="layui-btn layui-btn-custom-blue" lay-submit lay-filter="saveModelBtn"
                            id="saveModelBtn">保存
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../admin_resources/lib/js/require.js"
        data-main="../../admin_resources/js/knowledgePromotion/knowledgePromotion"></script>
</body>
</html>