<!--<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>-->
<!--<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>-->
<!--<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!--<sec:csrfMetaTags />-->
		<script type="text/javascript">
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 6.4 +"px";
					var deviceWidth = document.documentElement.clientWidth;
					if (deviceWidth > 640) {
						deviceWidth = 640;
					}
			document.documentElement.style.fontSize = deviceWidth / 6.4 + "px";
		</script>
		<title>零钞兑换申请</title>
		<link rel="stylesheet" href="../../static_resources/lib/css/weui.min.css">
		<link rel="stylesheet" href="../../static_resources/lib/css/jquery-weui.css">
		<link rel="stylesheet" href="../../static_resources/lib/css/demos.css">
		<link rel="stylesheet" type="text/css" href="../../static_resources/css/application/application.css"/>
	</head>
	<body>
		<!--零钞兑换申请-->
		<div class="">
			<div class="margin_top">
				<div class="weui-cells weui-cells_form">
				  	<div class="weui-cell">
					    <div class="weui-cell__hd"><label class="weui-label">市县区域：</label></div>
					    <div class="weui-cell__bd region">
					      	<select class="weui_select district" name="select1">
			 					<option selected="请选择区域" value="0">请选择区域</option>
			 				</select>
					    </div>
				  	</div>
				</div>
				<div class="weui-cells weui-cells_form">
				  	<div class="weui-cell">
					    <div class="weui-cell__hd"><label class="weui-label">乡镇街道：</label></div>
					    <div class="weui-cell__bd">
					      	<select class="weui_select street" name="select1">
			 					<option selected="请选择区域" value="0">请选择区域</option>
			 				</select>
					    </div>
				  	</div>
				</div>
				<div class="weui-cells weui-cells_form">
				  	<div class="weui-cell">
					    <div class="weui-cell__hd"><label class="weui-label">金融机构：</label></div>
					    <div class="weui-cell__bd">
					      	<select class="weui_select mechanism" name="select2">
			 					<option selected="请选择机构" value="0">请选择机构</option>
			 				</select>
					    </div>
				  	</div>
				</div>
				<div class="weui-cells weui-cells_form">
				  	<div class="weui-cell">
					    <div class="weui-cell__hd"><label class="weui-label">货币类型：</label></div>
					    <div class="weui-cell__bd">
					      	<select class="weui_select moneyType" name="select2">
					      		<option selected="请选择机构" value="0">请选择货币类型</option>
			 					<option value="1">纸币</option>
			 					<option value="2">硬币</option>
			 					<option value="3">残钞</option>
			 				</select>
					    </div>
				  	</div>
				</div>
				<div class="weui-cells weui-cells_form expirationTime">
				  	<div class="weui-cell">
					    <div class="weui-cell__hd"><label class="weui-label">预约开始时间：</label></div>
					    <div class="weui-cell__bd">
					      	<input class="weui-input" type="text" id='datetime-picker'/>
					    </div>
				  	</div>
				</div>
				<div class="weui-cells weui-cells_form expirationTime">
				  	<div class="weui-cell">
					    <div class="weui-cell__hd"><label class="weui-label">预约结束时间：</label></div>
					    <div class="weui-cell__bd">
					      	<input class="weui-input" type="text" id='datetime-picke'/>
					    </div>
				  	</div>
				</div>
				<div class="weui-cells weui-cells_form">
				  	<div class="weui-cell">
					    <div class="weui-cell__hd"><label class="weui-label">兑换数量：</label></div>
					    <div class="weui-cell__bd">
					      	<div class="weui-row">
					      		<div class="weui-col-50"><span>1元</span><input type="number" max="100" placeholder="最多100张" class="input paper1Used"/></div>
					      		<div class="weui-col-50"><span>5元</span><input type="number" max="100" placeholder="最多100张" class="input paper5Used"/></div>
					      		<div class="weui-col-50"><span>10元</span><input type="number" max="100" placeholder="最多100张" class="input paper10Used"/></div>
					      		<div class="weui-col-50"><span>20元</span><input type="number" max="100" placeholder="最多100张" class="input paper20Used"/></div>
					      		<div class="weui-col-50"><span>50元</span><input type="number" max="100" placeholder="最多100张" class="input paper50Used"/></div>
					      		<div class="weui-col-50"><span>100元</span><input type="number" max="100" placeholder="最多100张" class="input paper100Used"/></div>
					      	</div>
					    </div>
				  	</div>
				</div>
				<div class="weui-cells weui-cells_form">
				  	<div class="weui-cell">
					    <div class="weui-cell__hd"><label class="weui-label">硬币兑换：</label></div>
					    <div class="weui-cell__bd">
					      	<div class="weui-row">
					      		<div class="weui-col-50"><span>0.1元</span><input type="number" max="100" placeholder="最多100个" class="input coin01Used"/></div>
					      		<div class="weui-col-50"><span>0.5元</span><input type="number" max="100" placeholder="最多100个" class="input coin05Used"/></div>
					      		<div class="weui-col-50"><span>1元</span><input type="number" max="100" placeholder="最多100个" class="input coin1Used"/></div>
					      	</div>
					    </div>
				  	</div>
				</div>
				<button class="weui_btn weui_btn_primary appointment">预约申请</button>
				<div class="tips">
					<div class="tipstext">
						<span class="Written">提示语</span>
						<button class="weui_btn weui_btn_primary Sure">确定</button>
					</div>
				</div>
			</div>
		</div>
	<script src="../../static_resources/lib/js/jquery-2.1.4.js"></script>
	<script src="../../static_resources/lib/js/fastclick.js"></script>
	<script src="../../static_resources/js/jquery-weui.js"></script>
	<script>
      var date=new Date();
      var year=date.getFullYear(); //获取当前年份
      var mon=date.getMonth()+1; //获取当前月份
      var da=date.getDate(); //获取当前日
      var h=date.getHours(); //获取小时
      var m=date.getMinutes(); //获取分钟
      var s=date.getSeconds(); //获取秒
      var d=year+'-'+mon+'-'+da+' '+h+':'+m+':'+s;
      $("#datetime-picker").datetimePicker({
        title: '开始时间',
        min: year+ '-'+ mon+ '-'+ da ,
        max: "2022-12-12 12:12",
        years:[year,year+1],
        onChange: function (picker, values, displayValues) {
          console.log(values);
        },
      });
      $("#datetime-picke").datetimePicker(
        {
          title: '结束时间',
          min: year+ '-'+ mon+ '-'+ da ,
          max: "2022-12-12 12:12",
          years:[year,year+1],
          onChange: function (picker, values, displayValues) {
            console.log(values);
          },
        }
      );
	  	// $("#datetime-picker").datetimePicker();
	  	// $("#datetime-picke").datetimePicker();
	</script>

	<script src="../../static_resources/js/application/application.js"></script>
	</body>
</html>