*{
	list-style: none;
	font-size: 14px;
	color: #333;
}
.weui_tab_top{
	width: 100%;
	height: 0.84rem;
	line-height: 0.84rem;
	text-align: center;
	background: #333333;
	color: #fff;
}
.weui_tab_top>a{
	color: #fff;
	padding-left: 0.2rem;
	float: left;
}
.weui_tab_top>h6{
	color: #fff;
	padding-right: 1.2rem;
}
.weui-navbar{
	display: inline-block;
	width: 100%;
	border-bottom: 0.01rem solid #E4E4E4;
}
.weui-navbar__item{
    display: inline-block;
    float: left;
    width: 50%;
    text-align: center;
    padding: 0.08rem 0;
}
.weui-bar__item--on{
	color: #0066FF;
}
.weui-tab__bd-item{
	display: none;
}
.weui-tab__bd-item--active{
	display: block;
}
.weui-cells{
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #E4E4E4;
}
.weui-cell{
	width: 66%;
	float: left;
	text-align: center;
}
.weui-cell__bd{
	width: 30%;
	float: left;
	margin-bottom: 0.2rem;
}
.weui_btn_primary{
	font-size: 12px;
	margin: 0.1rem auto;
	background: #169BD5;
}
.weui-cell_top{
	margin-top: 0.05rem;
}
.color_top{
	color: #FF3300;
	font-size: 16px;
}
.weui_btn_primary:not(.weui_btn_disabled):active{
	background: #169BD5;
}