*{
	list-style: none;
	font-size: 14px;
	color: #333;
}
.weui_tab{
	background: #F2F2F2;
}
.weui_tab_top{
	width: 100%;
	height: 0.84rem;
	line-height: 0.84rem;
	text-align: center;
	background: #333333;
	color: #fff;
}
.weui_tab_top>a{
	color: #fff;
	padding-left: 0.2rem;
	float: left;
}
.weui_tab_top>h6{
	color: #fff;
	padding-right: 1.2rem;
}
.weui_tabbar_item{
	padding: 0.15rem 0.4rem;
	border: 1px solid #ccc;
	position: relative;
}
.weui_tabbar>li:first-child{
	padding: 0;
}
.navigation{
	position: absolute;
	bottom: 100%;
	width: 100%;
	left: 0;
	background: #fff;
	text-align: center;
	display: none;
}
.navigation_zi{
	display: inline-block;
	width: 100%;
	padding: 0.15rem 0;
	border-bottom: 0.01rem solid #E4E4E4;
}
.weui_tabbar_label>img{
	width: 0.5rem;
	margin-top: 0.1rem;
}
.navigationOne{
    position: absolute;
    top: 25%;
    width: 142%;
    right: 100%;
    background: #fff;
    display: none;
}
.weui_show{
	display: block;
}