<!--<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>-->
<!--<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>-->
<!--<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <!--<sec:csrfMetaTags />-->
    <script type="text/javascript">
      document.documentElement.style.fontSize = document.documentElement.clientWidth / 6.4 +"px";
      var deviceWidth = document.documentElement.clientWidth;
      if (deviceWidth > 640) {
        deviceWidth = 640;
      }
      document.documentElement.style.fontSize = deviceWidth / 6.4 + "px";
    </script>
    <title>管理员绑定</title>
    <link rel="stylesheet" href="../../static_resources/lib/css/weui.min.css">
    <link rel="stylesheet" href="../../static_resources/lib/css/jquery-weui.css">
    <link rel="stylesheet" href="../../static_resources/lib/css/demos.css">
    <link rel="stylesheet" type="text/css" href="../../static_resources/css/sign/sign.css"/>
</head>
<body>
<!--注册登录-->
<div class="weui_tab">
    <div class="weui-tab">
        <div class="weui-navbar">
            <a class="weui-navbar__item weui-bar__item--on tab1" href="javascript: void(0);" style="width: 100%;">管理员绑定</a>
            <!--<a class="weui-navbar__item tab2" href="#tab2">注册</a>-->
        </div>
        <div class="weui-tab__bd" style="clear: both;">

            <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                <!--<div class="weui-cells__title">账号</div>-->
                <!--<div class="weui-cells">-->
                    <!--<div class="weui-cell">-->
                        <!--<div class="weui-cell__bd">-->
                            <!--<input class="weui-input user_name" type="text" placeholder="">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="weui-cells__title">密码</div>-->
                <!--<div class="weui-cells">-->
                    <!--<div class="weui-cell">-->
                        <!--<div class="weui-cell__bd">-->
                            <!--<input class="weui-input" type="password" id="pwd" placeholder="">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="weui-cells__title">还没有账号，<a href="#tab2" class="weui-bar__item&#45;&#45;on immediately">立即注册</a></div>-->
                <!--<button class="weui_btn weui_btn_primary sign_in">登录</button>-->
                <!--<div class="tips tipss">-->
                    <!--<div class="tipstext">-->
                        <!--<span class="written">登录失败，请检查您的账号密码是否正确</span>-->
                        <!--<button class="weui_btn weui_btn_primary Sure sure">确定</button>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="weui-cells__title">手机号</div>
                <div class="weui-cells">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <input class="weui-input userName" type="text" placeholder="手机号" id="phone">
                        </div>
                    </div>
                </div>
                <div class="weui-cells__title">
                    <div class="weui-cell__bd">
                        <input style="width: 50%;" class="Verification validCode" type="text" placeholder="请输入验证码">
                        <input style="" type="button" class="Verif_button" id="Obtain" value="获取验证码"/>
                    </div>
                </div>
                <button class="weui_btn weui_btn_primary register">绑定</button>
            </div>
            <div id="tab2" class="weui-tab__bd-item">
                <!--<div class="weui-cells__title">手机号</div>-->
                <!--<div class="weui-cells">-->
                    <!--<div class="weui-cell">-->
                        <!--<div class="weui-cell__bd">-->
                            <!--<input class="weui-input userName" type="text" placeholder="手机号" id="phone">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="weui-cells__title">-->
                    <!--<div class="weui-cell__bd">-->
                        <!--<input class="Verification validCode" type="text" placeholder="请输入验证码">-->
                        <!--<button class="Verif_button" id="Obtain">获取验证码</button>-->
                    <!--</div>-->
                <!--</div>-->
                <!-- <div class="weui-cells__title">性别</div>
                <div class="weui-cells">
                      <div class="weui-cell">
                        <select class="weui_select moneyType" name="select2">
                              <option selected="selected" value="0">男</option>
                             <option value="1">女</option>
                         </select>
                      </div>
                </div> -->
                <!--<div class="weui-cells__title">密码</div>-->
                <!--<div class="weui-cells">-->
                    <!--<div class="weui-cell">-->
                        <!--<div class="weui-cell__bd">-->
                            <!--<input class="weui-input pwd" type="password" placeholder="请输入密码">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="weui-cells__title">确认密码</div>-->
                <!--<div class="weui-cells">-->
                    <!--<div class="weui-cell">-->
                        <!--<div class="weui-cell__bd">-->
                            <!--<input class="weui-input pwdRepeat" type="password" placeholder="请确认密码">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="weui-cells__title">昵称</div>-->
                <!--<div class="weui-cells">-->
                    <!--<div class="weui-cell">-->
                        <!--<div class="weui-cell__bd">-->
                            <!--<input class="weui-input nickName" type="text" placeholder="请输入您的昵称">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="weui-cells" style="display: none;">-->
                    <!--<div class="weui-cell">-->
                        <!--<div class="weui-cell__bd">-->
                            <!--<input class="weui-input" id="wxCode" type="text" disabled="disabled" value="${wxCode}">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<button class="weui_btn weui_btn_primary register">注册/绑定</button>-->
                <!--<div class="tip">请输入正确的手机号码</div>-->
                <!--<div class="tips">-->
                    <!--<div class="tipstext">-->
                        <!--<span class="Written">注册成功，请登录</span>-->
                        <!--<button class="weui_btn weui_btn_primary Sure">确定</button>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
<script src="../../static_resources/lib/js/jquery-2.1.4.js"></script>
<script src="../../static_resources/lib/js/fastclick.js"></script>
<script src="../../static_resources/js/jquery-weui.js"></script>
<script>
  /*  获取验证码  */
  var wxCode = queryString().code;
  $("#Obtain").on('click',function(){
    var that = this;
    var phone = document.getElementById('phone').value;
    function checkPhone(){
//			var phone = document.getElementById('phone').value;
      if(!(/^1(3|4|5|7|8)\d{9}$/.test(phone))){
        $.toast("手机号格式错误", "text");
        return false;
      };
    };
    checkPhone();
    var date=JSON.stringify({ "mobile": phone});
    $.ajax({
      url: host + '/user/sendValidSms',
      type : "post",
      async : true,
      cache : false,
      contentType: "text/json",
      dataType: "json",
      data:date,
      success:function(datas){
        settime(that);
        $.toast("验证码已发送", "text");
      },
      error:function(datas){
        console.log(datas);
      },
    });
  });
  $(".register").on('click',function(){
    var phone = document.getElementById('phone').value;
    var validCode = $(".validCode").val();
    var data=JSON.stringify({
      "mobile": phone,
      "validCode": validCode,
      "wxCode": wxCode,
    });
    console.log(data)
    $.ajax({
      url: host + '/user/managerBind',
      type : "post",
      async : true,
      cache : false,
      contentType: "text/json",
      dataType: "json",
      data:data,
      success:function(datas){
        console.log(datas);
        if(datas.result == 0 ){
          $.toast("绑定成功！", "text" ,function () {
            WeixinJSBridge.call('closeWindow');
          });
        }else {
          $.toast("抱歉，出现异常,请稍后再试...", "text")
        }
      },
      error:function(datas){
        console.log(datas);
      },
    });
  });
  var countdown=60;
  function settime(obj) {
    if (countdown == 0) {
      obj.removeAttribute("disabled");
      obj.value="获取验证码";
      countdown = 60;
      return;
    } else {
      obj.setAttribute("disabled", true);
      obj.value="重新发送(" + countdown + ")";
      countdown--;
    }
    setTimeout(function() {
        settime(obj) }
      ,1000)
  }
</script>

</body>
</html>