<!--<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>-->
<!--<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>-->
<!--<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>-->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<sec:csrfMetaTags/>-->
    <meta name="Keywords" content="系统管理">
    <meta name="Description" content="系统管理">
    <title>系统管理</title>
    <link href="../../admin_resources/lib/iconfont/iconfont.css" type="text/css" rel="stylesheet">
    <link href="../../admin_resources/lib/layui/css/layui.css" type="text/css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../../admin_resources/lib/js/html5shiv.js"></script>
    <script src="../../admin_resources/lib/js/respond.js"></script>
    <![endif]-->
    <link href="../../admin_resources/lib/zTree/metroStyle/metroStyle.css" type="text/css" rel="stylesheet">
    <link href="../../admin_resources/lib/css/animate.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../admin_resources/lib/css/resetStyle.css"/>
    <link rel="stylesheet" type="text/css" href="../../admin_resources/lib/css/resetUi.css"/>
    <link rel="stylesheet" type="text/css" href="../../admin_resources/css/orgManage/orgManage.css"/>
</head>
<body>
<div class="wrap">
    <!-- 查询条件 -->
    <div class="layui-form" style="margin-bottom: 5px;">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">机构代码:</label>
                <div class="layui-input-inline">
                    <input type="text" placeholder="" class="layui-input" id="orgCode" name="orgCode">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">机构名称:</label>
                <div class="layui-input-inline">
                    <input type="text" placeholder="" class="layui-input" id="orgName" name="orgName">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">机构类型:</label>
                <div class="layui-input-inline">
                    <select id="orgType" name="orgType">
                        <option value=""></option>
                        <option value="1">协会</option>
                        <option value="2">银行</option>
                        <option value="3">证券</option>
                        <option value="4">保险</option>
                        <option value="5">其他</option>
                    </select>
                </div>
            </div>
            <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label">市县区域:</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" placeholder="" class="layui-input" >-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label">市县区域:</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" placeholder="" class="layui-input" >-->
                <!--</div>-->
            <!--</div>-->
            <div class="layui-inline">
                <label class="layui-form-label">联系人工号：</label>
                <div class="layui-input-inline">
                    <input type="text" placeholder="" class="layui-input" id="staffNumber" name="staffNumber">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">联系人姓名：</label>
                <div class="layui-input-inline">
                    <input type="text" placeholder="" class="layui-input" id="staffName" name="staffName">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">手机号码：</label>
                <div class="layui-input-inline">
                    <input type="text" placeholder="" class="layui-input" id="mobile" name="mobile">
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layui-btn-custom-blue" lay-submit lay-filter="searchBtn" id="searchBtn">查询
                </button>
                <button class="layui-btn layui-btn-custom-blue" id="addBtn">新增</button>
            </div>
        </div>
    </div>
    <!-- 数据渲染 -->
    <table id="dataTable" lay-filter="dataTable"></table>
    <!-- 表格分页 -->
    <div class="custom-page-box" id="dataPage"></div>
</div>
<script type="text/javascript" src="../../admin_resources/lib/js/jquery-1.12.2.min.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/layui/layui.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/zTree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/echarts/echarts.min.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/json2.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/jquery.nicescroll.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/jsrender-min.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/easy.ajax.js"></script>
<!-- 表头toolbar模板 -->
<div id="dataTableToolBarTpl" style="display: none;">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</div>
<!-- 机构类型模板 -->
<script type="text/html" id="dataTableOrgTypeTpl">
    {{# if(d.orgType == '1'){ }}
    <span>协会</span>
    {{# }else if(d.orgType == '2'){ }}
    <span>银行</span>
    {{# }else if(d.orgType == '3'){ }}
    <span>证券</span>
    {{# }else if(d.orgType == '4'){ }}
    <span>保险</span>
    {{# }else if(d.orgType == '5'){ }}
    <span>其他</span>
    {{# } else { }}

    {{# } }}
</script>
<!-- 编辑模态框 -->
<div id="editModel" style="display: none;">
    <div class="layui-form">
        <div class="layui-form-item layui-row layui-col-space20" style="margin: 0;">
            <div class="layui-inline layui-col-xs6" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    机构代码:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input type="text" placeholder="" name="model_orgCode" class="layui-input" lay-verify="required" id="model_orgCode">
                </div>
            </div>
            <div class="layui-inline layui-col-xs6" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    机构名称:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input type="text" placeholder="" name="model_orgName" class="layui-input" lay-verify="required" id="model_orgName">
                </div>
            </div>
            <div class="layui-inline layui-col-xs6" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    机构类型:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <select lay-verify="required" name="model_orgType" id="model_orgType">
                        <option value=""></option>
                        <!--<option value="1">协会</option>-->
                        <option value="2">银行</option>
                        <option value="3">证券</option>
                        <option value="4">保险</option>
                        <option value="5">其他</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline layui-col-xs6" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    联系人工号:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input type="text" placeholder="" name="model_staffNumber" class="layui-input" lay-verify="required" id="model_staffNumber">
                </div>
            </div>
            <div class="layui-inline layui-col-xs6" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    员工姓名:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input type="text" placeholder="" name="model_staffName" class="layui-input" lay-verify="required" id="model_staffName">
                </div>
            </div>
            <div class="layui-inline layui-col-xs6" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    手机号码:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input type="text" placeholder="" name="model_mobile" class="layui-input" lay-verify="required" id="model_mobile">
                    <input type="hidden" name="model_mobile_old" class="layui-input"  id="model_mobile_old">
                </div>
            </div>
            <div class="layui-inline layui-col-xs6" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    性别:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <select lay-verify="required" name="model_gender" id="model_gender">
                        <option value="-1">不指定</option>
                        <option value="0">女</option>
                        <option value="1">男</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline layui-col-xs6" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    密码:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input type="text" placeholder="" name="model_pwd" class="layui-input" lay-verify="required" id="model_pwd">
                </div>
            </div>
            <div class="layui-inline layui-col-xs6" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    确认密码:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input type="text" placeholder="" name="model_pwdRepeat" class="layui-input" lay-verify="required" id="model_pwdRepeat">
                </div>
            </div>
            <div class="layui-inline layui-col-xs6" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <!--<b style="color: #f00;">*</b>-->
                    qq:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input type="text" placeholder="" name="model_qq" class="layui-input"  id="model_qq">
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-row layui-col-space20" style="margin: 0;">
            <div class="layui-inline layui-col-xs12">
                <div class="layui-input-inline" style="width: 100%;text-align: right;">
                    <button class="layui-btn layui-btn-primary" id="cancelModelBtn">取消</button>
                    <button class="layui-btn layui-btn-custom-blue" lay-submit lay-filter="saveModelBtn" data-id=""
                            id="saveModelBtn">保存
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="changeModel" style="display: none;">
    <div class="layui-form">
        <div class="layui-form-item layui-row layui-col-space20" style="margin: 0;">
            <div class="layui-inline layui-col-xs12" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    选择修改内容:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <select id="selectChange" lay-filter="selectChange" name="selectChange">
                        <option value="changeName" selected>修改工号和姓名</option>
                        <option value="changePhone">修改手机号和密码</option>
                    </select>
                </div>
            </div>
            <div style="overflow: hidden;" id="changeName">
                <div class="layui-inline layui-col-xs12" style="margin-bottom: -10px;">
                    <label class="layui-form-label" style="float:none;text-align: left;">
                        <b style="color: #f00;">*</b>
                        联系人工号:
                    </label>
                    <div class="layui-input-inline" style="width: 100%;">
                        <input type="text" placeholder="" name="changeMyNum" class="layui-input"  id="changeMyNum">
                    </div>
                </div>
                <div class="layui-inline layui-col-xs12" style="margin-bottom: -10px;margin-top: 10px;">
                    <label class="layui-form-label" style="float:none;text-align: left;">
                        <b style="color: #f00;">*</b>
                        员工姓名:
                    </label>
                    <div class="layui-input-inline" style="width: 100%;">
                        <input type="text" placeholder="" name="changeMyName" class="layui-input" id="changeMyName">
                    </div>
                </div>
            </div>
            <div style="overflow: hidden; display: none;" id="changePhone">
                <div class="layui-inline layui-col-xs12" style="margin-bottom: -10px;">
                    <label class="layui-form-label" style="float:none;text-align: left;">
                        <b style="color: #f00;">*</b>
                        手机号码:
                    </label>
                    <div class="layui-input-inline" style="width: 100%;">
                        <input type="text" placeholder="" name="changeMyPhone" class="layui-input"  id="changeMyPhone">
                        <input type="hidden" name="" class="layui-input" >
                    </div>
                </div>

                <div class="layui-inline layui-col-xs12" style="margin-bottom: -10px;margin-top: 10px;">
                    <label class="layui-form-label" style="float:none;text-align: left;">
                        <b style="color: #f00;">*</b>
                        密码:
                    </label>
                    <div class="layui-input-inline" style="width: 100%;">
                        <input type="text" placeholder="" name="changeMyPwd" class="layui-input"  id="changeMyPwd">
                    </div>
                </div>
                <div class="layui-inline layui-col-xs12" style="margin-bottom: -10px;margin-top: 10px;">
                    <label class="layui-form-label" style="float:none;text-align: left;">
                        <b style="color: #f00;">*</b>
                        确认密码:
                    </label>
                    <div class="layui-input-inline" style="width: 100%;">
                        <input type="text" placeholder="" name="changeMyRepeatPwd" class="layui-input" id="changeMyRepeatPwd" >
                    </div>
                </div>
            </div>
            <input type="hidden" value="" id="changeMyOldPhone" name="changeMyOldPhone">
        </div>
        <div class="layui-form-item layui-row layui-col-space20" style="margin: 0;">
            <div class="layui-inline layui-col-xs12">
                <div class="layui-input-inline" style="width: 100%;text-align: right;">
                    <button class="layui-btn layui-btn-primary" id="change_cancelModelBtn">取消</button>
                    <button class="layui-btn layui-btn-custom-blue" lay-submit lay-filter="change_saveModelBtn"
                            id="change_saveModelBtn">保存
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../admin_resources/lib/js/require.js"
        data-main="../../admin_resources/js/orgManage/orgManage"></script>
</body>
</html>