/**
 * 重置默认样式
 * 重置animate
 */
@keyframes fadeInUp{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,30px,0);
        -ms-transform:translate3d(0,30px,0);
        transform: translate3d(0,30px,0);
    }
}
/**
 * 重置默认样式
 * 针对Ztree重置Layui
 */
.layui-nav-tree .layui-nav-item .ztree{
    padding: 5px 5px 5px 23px;
    overflow: auto;
}
.layui-nav-tree .layui-nav-item .ztree li a{
    display: inline-block;
    padding-right: 3px;
    height: 21px;
    color: #333;
    line-height: 21px;
    text-indent: 0;
}

/**
 * 重置默认样式
 * 重置LayUi
 */
/*重置后台框架*/
.layui-header{
    height: 50px;
    position: absolute;
    left: 220px;
    right: 0;
}
.layui-layout-admin .layui-logo{
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #588fd0;
    background-color: #588fd0;
}
.layui-layout-admin .layui-logo a img{
    display: block;
    width: 98px;
    height: 28px;
    margin: 10px auto;
}
.layui-nav .layui-nav-item{
    line-height: 50px;
}
.layui-nav .layui-nav-item a{
    color: #333;
}
.layui-nav .layui-nav-child a{
    color: #333;
}
.layui-nav-tree .layui-nav-child a{
    color: #333;
}
.layui-nav .layui-nav-more{
    top: 23px;
    border-top-color: #333;
}
.layui-nav .layui-nav-mored,
.layui-nav-itemed>a .layui-nav-more{
    top: 24px;
    border-color: transparent transparent #333;
}
.layui-nav-child{
    top: 55px;
}
.layui-layout-admin .layui-side{
    top: 0;
    width: 220px;
    background-color: #fff;
}
.layui-side-scroll{
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 0;
    overflow: auto;
}
.layui-nav-tree{
    width: 100%;
}
.layui-nav-tree .layui-nav-item{
    line-height: 40px;
}
.layui-nav-tree .layui-nav-item a{
    height: 40px;
    padding: 0;
    text-indent: 30px;
}
.layui-nav-tree .layui-nav-item a:hover{
    background-color: #fff;
    color: #333;
}
.layui-nav-itemed>a, .layui-nav-tree .layui-nav-title a, .layui-nav-tree .layui-nav-title a:hover {
    background-color: #fff !important;
    color: #333 !important;
}
.layui-nav-tree .layui-nav-more{
    top: 24px;
}
.layui-nav-itemed .layui-nav-more{
    top: 13px;
}
.layui-body{
    left: 220px;
    background-color: #f4f8f9;
}
.layui-layout-admin .layui-body{
    top: 50px;
    bottom: 0;
    overflow: hidden;
}
.layui-layout-admin .layui-footer{
    left: 220px;
}
.layui-layout-admin .layui-header{
    background-color: #fff;
}
.layui-nav .layui-this:after,
.layui-nav-bar,
.layui-nav-tree .layui-nav-itemed:after{
    background-color: #588fd0;
    height: 0;
}
.layui-nav-bar{
    display: none;
    height: 5px;
}
.layui-nav .layui-nav-child dd.layui-this a,
.layui-nav-child dd.layui-this{
    background-color: #588fd0;
}
.layui-nav{
    padding: 0;
    background-color: #fff;
    color: #333;
}
.layui-nav-tree .layui-nav-bar{
    display: block;
    background-color: #588fd0;
}
.layui-nav-itemed .layui-nav-child{
    background-color: #333744;
}
.layui-nav-tree .layui-nav-child,
.layui-nav-tree .layui-nav-child a:hover{
    background-color: #fafbfc;
    color: #588fd0;
}
.layui-nav-child a{
    line-height: 36px;
}
.layui-nav-tree .layui-nav-child dd.layui-this,
.layui-nav-tree .layui-nav-child dd.layui-this a,
.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this>a,
.layui-nav-tree .layui-this>a:hover{
    background-color: #fafbfc;
    color: #588fd0;
}
.layui-nav *{
    font-size: 13px;
    transition: none;
    -webkit-transition: none;
}
.layui-nav-itemed .layui-nav-child{
    background-color: #f0f9ff !important;
}
/*重置tab选项卡*/
.layui-tab{
    margin: 0;
}
.layui-tab-brief>.layui-tab-title .layui-this{
    color: #588fd0;
}
.layui-tab-brief>.layui-tab-more li.layui-this:after,
.layui-tab-brief>.layui-tab-title .layui-this:after{
    border-bottom: 2px solid #588fd0;
}
.layui-tab-title{
    height: 35px;
}
.layui-tab-title li{
    min-width: 0;
    padding: 0 5px;
    margin: 0 5px;
    font-size: 13px;
    line-height: 35px;
}
.layui-tab-title .layui-this:after{
    height: 34px;
}
.layui-tab-content{
    padding: 0;
}
.layui-tab-bar{
    height: 30px;
    line-height: 30px;
}
.layui-tab-bar .layui-icon{
    top: 0;
}
/*重置引用块*/
.layui-elem-quote{
    height: 30px;
    padding: 5px 15px;
    line-height: 30px;
    border-left: 5px solid #588fd0;
}
/*重置字段级区块*/
.layui-elem-field{
    min-width: auto;
    margin: 0;
}
.layui-elem-field legend{
    font-size: 16px;
}
/*重置表单*/
.layui-form-item{
    margin-bottom: 0;
}
.layui-form-item .layui-inline{
    margin: 0 0 5px;
    float: left;
}
.layui-form-label{
    width: 110px;
    height: 30px;
    padding: 6px 10px;
}
.layui-form-item .layui-input-inline{
    width: 160px;
    margin: 0;
}
.layui-input-block{
    min-height: 30px;
    line-height: 30px;
}
.layui-form-radio{
    line-height: 30px;
    margin: 0 10px 0 0;
}
.layui-input,
.layui-select,
.layui-textarea{
    height: 30px;
    line-height: 30px;
    color: #777;
}
.layui-form-label,
.layui-form-mid,
.layui-textarea{
    line-height: 18px;
}
.layui-form-mid{
    padding: 8px 0!important;
    margin: 0 10px;
}
.layui-btn{
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    font-size: 13px;
    margin: 0 3px;
}
.layui-btn+.layui-btn{
    margin: 0 3px;
}
.layui-form-select dl dd.layui-this{
    background-color: #588fd0;
}
.layui-btn-xs{
    height: 22px;
    line-height: 22px;
    padding: 0 5px;
    font-size: 12px;
    vertical-align: top;
}
.layui-form-checked[lay-skin=primary] i{
    border-color: #588fd0;
    background-color: #588fd0;
}
.layui-form-select dl dd,
.layui-form-select dl dt{
    line-height: 30px;
}
.layui-form-select dl{
    top: 34px;
    z-index: 10000;
}
.layui-form-selectup dl{
    top: auto;
    bottom: 34px;
}
.layui-form-checked, .layui-form-checked:hover {
    border-color: #588fd0;
}
.layui-form-checked span {
    background-color: #588fd0;
}
.layui-form-checked i, .layui-form-checked:hover i {
    color: #588fd0;
}
/*重置表格*/
.layui-table-click{
    background-color: #edf7ff!important;
}
.layui-table-view{
    margin: 0;
}
.layui-table thead tr,
.layui-table-fixed-l tr,
.layui-table-header,
.layui-table-mend,
.layui-table-patch,
.layui-table-tool{
    background-color: #eef1f6;
}
.layui-table[lay-even] tr:nth-child(even){
    background-color: #fafafa;
}
.layui-form-checkbox[lay-skin=primary]:hover i{
    border-color: #588fd0;
}
.layui-table-view .layui-table{
    /*width: 100%;*/
}
.layui-table-view .layui-table[lay-size=sm] .layui-table-cell{
    height: 22px;
    line-height: 22px;
    padding: 0;
}
.layui-table-edit{
    text-align: center;
}
.layui-table-cell{
    margin: 0 auto;
}
/*重置分页*/
.layui-laypage a:hover{
    color: #588fd0;
}
.layui-laypage input:focus,
.layui-laypage select:focus{
    border-color:#588fd0 !important;
}
.layui-laypage{
    margin: 0;
    padding: 4px 0;
}
.layui-laypage a,
.layui-laypage span{
    padding: 0 12px;
    height: 22px;
    line-height: 22px;
    border: none;
    background-color: transparent;
    margin: 0;
}
.layui-laypage .layui-laypage-skip{
    height: 24px;
    line-height: 24px;
}
.layui-laypage button,
.layui-laypage input{
    height: 24px;
    line-height: 24px;
}
.layui-laypage input{
    width: 32px;
}
.layui-laypage select{
    height: 16px;
}
/*重置树形菜单*/
.layui-tree{
    padding: 6px 3px;
}
.layui-tree.layui-tree-skin-white li i{
    color: #fff;
}
.layui-tree.layui-tree-skin-white li a{
    color: #fff;
}
/*重置弹出层*/
.layui-layer-title{
    height: 30px !important;
    line-height: 30px !important;
    font-size: 13px !important;
}
.layui-layer-setwin{
    right: 10px !important;
    top: 10px !important;
}
.layui-layer-setwin .layui-layer-close2{
    right: -10px !important;
    top: -10px !important;
}
.layui-layer-page .layui-layer-content{
    overflow: visible !important;
}
.layui-layer-min{
    display: none !important;
}
/*重置日历*/
.layui-laydate-header{
    line-height: 20px !important;
}
.layui-laydate-header i{
    font-size: 14px !important;
}
.laydate-month-list>li{
    margin: 7px 0 !important;
}
.layui-laydate-list>li{
    height: 25px !important;
    line-height: 25px !important;
}
.laydate-theme-molv .layui-laydate-main{
    width: 244px !important;
}
.laydate-theme-molv.layui-laydate-range{
    width: 488px !important;
}
.layui-laydate-footer{
    height: 36px !important;
    line-height: 16px !important;
}
.laydate-footer-btns {
    right: 7px !important;
    top: 7px !important;
}
.laydate-footer-btns span{
    height: 22px !important;
    line-height: 22px !important;
}