<!--<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%><%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %><%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>-->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<sec:csrfMetaTags/>-->
    <meta name="Keywords" content="系统管理">
    <meta name="Description" content="系统管理">
    <title>系统管理</title>
    <link href="../../admin_resources/lib/iconfont/iconfont.css" type="text/css" rel="stylesheet">
    <link href="../../admin_resources/lib/layui/css/layui.css" type="text/css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="../../admin_resources/lib/js/html5shiv.js"></script>
    <script src="../../admin_resources/lib/js/respond.js"></script>
    <![endif]-->
    <link href="../../admin_resources/lib/zTree/metroStyle/metroStyle.css" type="text/css" rel="stylesheet">
    <link href="../../admin_resources/lib/css/animate.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../admin_resources/lib/css/resetStyle.css"/>
    <link rel="stylesheet" type="text/css" href="../../admin_resources/lib/css/resetUi.css"/>
    <link rel="stylesheet" type="text/css" href="../../admin_resources/css/userManagement/userManagement.css"/>
</head>
<body>
<div class="wrap">
    <!-- 菜单边栏 -->
    <!--<div class="menu-bar">-->
        <!--&lt;!&ndash;<div class="search-box" style="position: relative;">-->
            <!--<input type="text" placeholder="请输入名称检索" class="layui-input" style="padding-right: 30px;">-->
            <!--<span class="search-btn"><i class="icon iconfont icon-sousuo"></i></span>-->
        <!--</div>&ndash;&gt;-->
        <!--<div class="menu-box" style="top: 0;">-->
            <!--<div id="dataTree" class="ztree"></div>-->
        <!--</div>-->
    <!--</div>-->
    <!-- 内容展示 -->
    <div class="layui-form">
        <div class="clearAfter" style="margin-bottom: 6px;">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">机构名称:</label>
                    <div class="layui-input-inline">
                        <select id="orgSelect" name="orgSelect">
                            <option value=""></option>

                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">工号:</label>
                    <div class="layui-input-inline">
                        <input type="text" placeholder="" class="layui-input" id="staffNumber">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">姓名:</label>
                    <div class="layui-input-inline">
                        <input type="text" placeholder="" class="layui-input" id="staffName">
                    </div>
                </div>
                <!--<div class="layui-inline">-->
                    <!--<label class="layui-form-label">性别:</label>-->
                    <!--<div class="layui-input-inline">-->
                        <!--<select id="sex">-->
                            <!--<option value=""></option>-->
                            <!--<option value="Y">是</option>-->
                            <!--<option value="N">否</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="layui-inline">-->
                    <!--<label class="layui-form-label">角色:</label>-->
                    <!--<div class="layui-input-inline">-->
                        <!--<select id="juese">-->
                            <!--<option value=""></option>-->
                            <!--<option value="Y">是</option>-->
                            <!--<option value="N">否</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="layui-inline">
                    <label class="layui-form-label">手机号码:</label>
                    <div class="layui-input-inline">
                        <input type="text" placeholder="" class="layui-input" id="mobile">
                    </div>
                </div>
                <!--<div class="layui-inline">-->
                    <!--<label class="layui-form-label">是否锁定:</label>-->
                    <!--<div class="layui-input-inline">-->
                        <!--<select id="searchIsLock">-->
                            <!--<option value=""></option>-->
                            <!--<option value="Y">是</option>-->
                            <!--<option value="N">否</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="layui-inline">-->
                    <!--<label class="layui-form-label">是否启用:</label>-->
                    <!--<div class="layui-input-inline">-->
                        <!--<select id="searchIsEnable">-->
                            <!--<option value=""></option>-->
                            <!--<option value="Y">是</option>-->
                            <!--<option value="N">否</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-custom-blue" lay-submit lay-filter="searchBtn"
                            id="searchBtn">查询
                    </button>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-custom-blue" id="addBtn" data-limit="10001">新增</button>
                </div>
                <!--<div class="layui-inline">-->
                    <!--<button class="layui-btn layui-btn-custom-blue" id="exportBtn" data-limit="10006">导出</button>-->
                <!--</div>-->
            </div>
        </div>
        <!-- 数据渲染 -->
        <table id="dataTable" lay-filter="dataTable"></table>
        <!-- 表格分页 -->
        <div class="custom-page-box" id="dataPage"></div>
    </div>
    <!--<div class="menu-content">-->
        <!---->
    <!--</div>-->
</div>
<script type="text/javascript" src="../../admin_resources/lib/js/jquery-1.12.2.min.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/layui/layui.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/zTree/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/echarts/echarts.min.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/json2.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/jquery.cookie.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/jquery.nicescroll.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/jsrender-min.js"></script>
<script type="text/javascript" src="../../admin_resources/lib/js/easy.ajax.js"></script>
<!-- 表头toolbar模板 -->
<div id="dataTableToolBarTpl" style="display: none;">
    <!--<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="edit" data-limit="10004">修改</a>-->
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" data-limit="10005">删除</a>
</div>
<!-- 数据表格是否锁定字段模板 -->
<script type="text/html" id="dataTableIsLockTpl">
    <input type="checkbox" lay-skin="switch" lay-text="是|否" value="{{d.userId}}" lay-filter="dataTableIsLock" {{
           d.isLock== 'Y' ? 'checked' : '' }} disabled>
</script>
<!-- 数据表格是否启用字段模板 -->
<script type="text/html" id="dataTableIsEnableTpl">
    <input type="checkbox" lay-skin="switch" lay-text="是|否" value="{{d.userId}}" lay-filter="dataTableIsEnable" {{
           d.isEnable== 'Y' ? 'checked' : '' }} disabled>
</script>
<!-- 数据表格是否开启登录IP和MAC校验字段模板 -->
<script type="text/html" id="dataTableOpenIpMacCheckTpl">
    <input type="checkbox" lay-skin="switch" lay-text="是|否" value="{{d.userId}}" lay-filter="dataTableOpenIpMacCheck"  {{ d.openIpMacCheck == 'Y' ? 'checked' : '' }}  disabled />
</script>
<!-- 组织机构树模态框 -->
<div id="orgTreeModel" style="display: none;">
    <div class="layui-form">
        <div id="orgTree" class="ztree" style="padding: 10px 30px;overflow: auto;height: 450px;"></div>
    </div>
</div>
<!-- 编辑模态框 -->
<div id="editModel" style="display: none;">
    <div class="layui-form">
        <div class="layui-form-item layui-row layui-col-space20" style="margin: 0;">
            <div class="layui-inline layui-col-xs4" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    机构名称:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input disabled type="text" placeholder="" name="model_orgSelect_text" class="layui-input" lay-verify="required" id="model_orgSelect_text">
                    <input type="hidden" value="" name="model_orgSelect" id="model_orgSelect">
                </div>
            </div>
            <div class="layui-inline layui-col-xs4" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    角色:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <select lay-verify="required" name="model_auth" id="model_auth">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="layui-inline layui-col-xs4" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    工号:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input type="text" placeholder="" name="model_staffNumber" class="layui-input" lay-verify="required" id="model_staffNumber">
                </div>
            </div>
            <div class="layui-inline layui-col-xs4" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    姓名:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input type="text" placeholder="" name="model_staffName" class="layui-input" lay-verify="required" id="model_staffName">
                </div>
            </div>
            <div class="layui-inline layui-col-xs4" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    手机号码:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input type="text" placeholder="" name="model_mobile" class="layui-input" lay-verify="required" id="model_mobile">
                </div>
            </div>
            <div class="layui-inline layui-col-xs4" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    性别:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <select lay-verify="required" name="model_gender" id="model_gender">
                        <option value="-1">不指定</option>
                        <option value="0">女</option>
                        <option value="1">男</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline layui-col-xs4" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    密码:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input type="text" placeholder="" name="model_pwd" class="layui-input" lay-verify="required" id="model_pwd">
                </div>
            </div>
            <div class="layui-inline layui-col-xs4" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <b style="color: #f00;">*</b>
                    确认密码:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input type="text" placeholder="" name="model_pwdRepeat" class="layui-input" lay-verify="required" id="model_pwdRepeat">
                </div>
            </div>
            <div class="layui-inline layui-col-xs4" style="margin-bottom: -10px;">
                <label class="layui-form-label" style="float:none;text-align: left;">
                    <!--<b style="color: #f00;">*</b>-->
                    qq:
                </label>
                <div class="layui-input-inline" style="width: 100%;">
                    <input type="text" placeholder="" name="model_qq" class="layui-input"  id="model_qq">
                </div>
            </div>

        </div>
        <div class="layui-form-item layui-row layui-col-space20" style="margin: 0;">
            <div class="layui-inline layui-col-xs12">
                <div class="layui-input-inline" style="width: 100%;text-align: right;">
                    <button class="layui-btn layui-btn-primary" id="cancelModelBtn">取消</button>
                    <button class="layui-btn layui-btn-custom-blue" lay-submit lay-filter="saveModelBtn"
                            id="saveModelBtn">保存
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../admin_resources/lib/js/require.js"
        data-main="../../admin_resources/js/userManagement/userManagement"></script>
</body>
</html>