*{
	list-style: none;
	font-size: 14px;
	color: #333;
}
.weui_tab_top{
	width: 100%;
	height: 0.84rem;
	line-height: 0.84rem;
	text-align: center;
	background: #333333;
	color: #fff;
}
.weui_tab_top>a{
	color: #fff;
	padding-left: 0.2rem;
	float: left;
}
.weui_tab_top>h6{
	color: #fff;
	padding-right: 1.2rem;
}
.margin_top{
	margin-top: 1.76rem;
}
.logo{
	width: 50%;
	height: 3.04rem;
	margin: 0 auto;
}
.logo>img{
	width: 100%;
	height: 100%;
}
.tips{
	width: 50%;
	text-align: center;
	margin: 0.46rem auto 0;
}
