/**
 * 公共样式表
 * 网页布局
 */
.border{
	border: 1px solid #CCCCCC;
}
.demo{
	background: #F3F3F3;
	padding: 7px;
	line-height: 30px;
}
.right{
	float: right;
}
.layui-form-label{
	text-align: left;
}
.width{
	width: 52px;
}
