/**
 * 重置默认样式
 * 重置原生标签
 */
body,div,ul,ol,dl,li,dt,dd,h1,h2,h3,h4,h5,h6,p,img,input,button{margin: 0; padding: 0;}

ul,ol{list-style: none;}

li{list-style-type: none;}

h1,h2,h3,h4,h5,h6{font-weight: normal;}

img,input,button{border: none; outline: none;}

a,a:hover,a:focus{text-decoration: none;}

/*自定义样式*/
.fl{float: left !important;}

.fr{float: right !important;}

.clearAfter{zoom: 1;}

.clearAfter:after{content:"."; display:block; height:0; visibility:hidden; clear:both;}

.ca:after{display: none !important;}

.bb{border-bottom: none;}

.br{border-right: none !important;}

.pr{padding-right: 0 !important;}

.mr{margin-right: 0 !important;}

.transition-all{
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

/*自定义layui-btn*/
.layui-btn-custom-blue{
    background-color: #588fd0;
}
/*自定义分页容器*/
.custom-page-box{
    border: 1px solid #e2e2e2;
    background-color: #eef1f6;
    border-top: none;
}

/*页面功能按钮权限控制*/
[data-limit]{
    /*visibility: hidden;*/
}

/*公共样式*/
html,body{
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Tahoma", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei";
    font-size: 13px;
    overflow: auto;
}
.wrap{
    /*display: none;*/
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
}
.box-area{
    background-color: #fff;
    box-shadow: 0 3px 6px 0 #f2f2f2;
    -webkit-box-shadow: 0 3px 6px 0 #f2f2f2;
    -moz-box-shadow: 0 3px 6px 0 #f2f2f2;
    -o-box-shadow: 0 3px 6px 0 #f2f2f2;
    -ms-box-shadow: 0 3px 6px 0 #f2f2f2;
    margin-bottom: 10px;
}
.box-area .box-area-title{
    padding: 0 10px;
    line-height: 40px;
    font-size: 14px;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
}