/**
 * 公共样式表
 * 网页布局
 */
.border{
	border: 1px solid #CCCCCC;
}
.demo{
	background: #F3F3F3;
	padding: 7px;
	line-height: 30px;
	color: #666;
}
.right{
	float: right;
}
.layui-form-label{
	text-align: left;
}
.width{
	width: 52px;
}
.user{
	text-align: center;
	padding-top: 10px;
}
.user_bottom{
	font-size: 26px;
	color: #049FD9;
	margin: 18px 0 16px 0;
}
.margin_top{
	margin-top: 18px;
}
.left{
	float: left;
}
.right{
	float: right;
}
.affair{
	padding: 18px;
	border-bottom: 1px solid #ccc;
}
.Number{
	color: #FF0000;
	padding: 0 2px;
}
.Quick{
	display: block;
	float: left;
	margin-left: 30px;
	margin-top: 10px;
	text-align: center;
}
.Quick>img{
	display: block;
	height: 50px;
	margin: 0 auto;
}
.Entrance{
	margin-top: 10px;
}
