<!--<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>-->
<!--<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>-->
<!--<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!--<sec:csrfMetaTags />-->
		<script type="text/javascript">
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 6.4 +"px";
					var deviceWidth = document.documentElement.clientWidth;
					if (deviceWidth > 640) {
						deviceWidth = 640;
					}
			document.documentElement.style.fontSize = deviceWidth / 6.4 + "px";
		</script>
		<title>注册登录</title>
		<link rel="stylesheet" href="../../static_resources/lib/css/weui.min.css">
		<link rel="stylesheet" href="../../static_resources/lib/css/jquery-weui.css">
		<link rel="stylesheet" href="../../static_resources/lib/css/demos.css">
		<link rel="stylesheet" type="text/css" href="../../static_resources/css/sign/sign.css"/>
	</head>
	<body>
		<!--注册登录-->
		<div class="weui_tab">
			<div class="weui-tab">
			  	<div class="weui-navbar">
				    <a class="weui-navbar__item weui-bar__item--on tab1" href="#tab1">登录</a>
				    <a class="weui-navbar__item tab2" href="#tab2">注册</a>
					<a class="weui-navbar__item tab3" href="#tab3">修改密码</a>
					<a class="weui-navbar__item tab4" href="#tab4">忘记密码</a>
			  	</div>
			  	<div class="weui-tab__bd" style="clear: both;">
				    <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
				      	<div class="weui-cells__title">账号</div>
						<div class="weui-cells">
						  	<div class="weui-cell">
						    	<div class="weui-cell__bd">
						      		<input class="weui-input user_name" type="text" placeholder="">
						    	</div>
						  	</div>
						</div>
						<div class="weui-cells__title">密码</div>
						<div class="weui-cells">
						  	<div class="weui-cell">
						    	<div class="weui-cell__bd">
						      		<input class="weui-input" type="password" id="pwd" placeholder="">
						    	</div>
						  	</div>
						</div>
						<!--<div class="weui-cells__title">还没有账号，<a href="#tab2" class="weui-bar__item&#45;&#45;on immediately">立即注册</a></div>-->

						<button class="weui_btn weui_btn_primary sign_in">登录</button>
						<div class="tips tipss">
							<div class="tipstext">
								<span class="written">登录失败，请检查您的账号密码是否正确</span>
								<button class="weui_btn weui_btn_primary Sure sure">确定</button>
							</div>
						</div>
				    </div>
				    <div id="tab2" class="weui-tab__bd-item">
				      	<div class="weui-cells__title">账号</div>
						<div class="weui-cells">
						  	<div class="weui-cell">
						    	<div class="weui-cell__bd">
						      		<input class="weui-input userName" type="text" placeholder="手机号" id="phone">
						    	</div>
						  	</div>
						</div>
						<div class="weui-cells__title">
							<div class="weui-cell__bd">
					      		<input class="Verification validCode" type="text" placeholder="请输入验证码">
					      		<button class="Verif_button" id="Obtain">获取验证码</button>
					    	</div>
						</div>
						<div class="weui-cells__title">密码</div>
						<div class="weui-cells">
						  	<div class="weui-cell">
						    	<div class="weui-cell__bd">
						      		<input class="weui-input pwd" type="password" placeholder="请输入密码">
						    	</div>
						  	</div>
						</div>
						<div class="weui-cells__title">确认密码</div>
						<div class="weui-cells">
						  	<div class="weui-cell">
						    	<div class="weui-cell__bd">
						      		<input class="weui-input pwdRepeat" type="password" placeholder="请确认密码">
						    	</div>
						  	</div>
						</div>
						<div class="weui-cells__title">昵称</div>
						<div class="weui-cells">
						  	<div class="weui-cell">
						    	<div class="weui-cell__bd">
						      		<input class="weui-input nickName" type="text" placeholder="请输入您的昵称">
						    	</div>
						  	</div>
						</div>
						<div class="weui-cells" style="display: none;">
						  	<div class="weui-cell">
						    	<div class="weui-cell__bd">
						      		<input class="weui-input" id="wxCode" type="text" disabled="disabled" value="${wxCode}">
						    	</div>
						  	</div>
						</div>
						<button class="weui_btn weui_btn_primary register">注册/绑定</button>
						<div class="tip">请输入正确的手机号码</div>
						<div class="tips">
							<div class="tipstext">
								<span class="Written">注册成功，请登录</span>
								<button class="weui_btn weui_btn_primary Sure">确定</button>
							</div>
						</div>
				    </div>
					<div id="tab3" class="weui-tab__bd-item">

						<div class="weui-cells__title">原密码</div>
						<div class="weui-cells">
							<div class="weui-cell">
								<div class="weui-cell__bd">
									<input class="weui-input " type="password" placeholder="请输入密码" id="change_pwd">
								</div>
							</div>
						</div>
						<div class="weui-cells__title">新密码</div>
						<div class="weui-cells">
							<div class="weui-cell">
								<div class="weui-cell__bd">
									<input class="weui-input " type="password" placeholder="请确认密码" id="change_pwdRepeat">
								</div>
							</div>
						</div>
						<div class="weui-cells__title">确认新密码</div>
						<div class="weui-cells">
							<div class="weui-cell">
								<div class="weui-cell__bd">
									<input class="weui-input " type="password" placeholder="请确认密码" id="change_pwdRepeat_ok">
								</div>
							</div>
						</div>

						<button class="weui_btn weui_btn_primary" id="change_ok">提交</button>

					</div>
					<div id="tab4" class="weui-tab__bd-item">
						<div class="weui-cells__title">账号</div>
						<div class="weui-cells">
							<div class="weui-cell">
								<div class="weui-cell__bd">
									<input class="weui-input" type="text" placeholder="手机号" id="find_phone">
								</div>
							</div>
						</div>
						<div class="weui-cells__title">
							<div class="weui-cell__bd">
								<input class="Verification " type="text" placeholder="请输入验证码" id="find_validCode">
								<button class="Verif_button " id="find_Obtain">获取验证码</button>
							</div>
						</div>
						<div class="weui-cells__title">密码</div>
						<div class="weui-cells">
							<div class="weui-cell">
								<div class="weui-cell__bd">
									<input class="weui-input" type="password" placeholder="请输入密码" id="find_pwd">
								</div>
							</div>
						</div>
						<div class="weui-cells__title">确定密码</div>
						<div class="weui-cells">
							<div class="weui-cell">
								<div class="weui-cell__bd">
									<input class="weui-input" type="password" placeholder="请确认密码" id="find_pwdRepeat">
								</div>
							</div>
						</div>

						<button class="weui_btn weui_btn_primary" id="find_ok">提交</button>
					</div>
			  	</div>
			</div>
		</div>
	<script src="../../static_resources/lib/js/jquery-2.1.4.js"></script>
	<script src="../../static_resources/lib/js/fastclick.js"></script>
	<script src="../../static_resources/js/jquery-weui.js"></script>
	<script language="javascript">
		function custom_close(){
			WeixinJSBridge.call('closeWindow');
		}
	</script>

	<script src="../../static_resources/js/sign/sign.js"></script>
	</body>
</html>