<!--<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>-->
<!--<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>-->
<!--<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <!--<sec:csrfMetaTags />-->
    <script type="text/javascript">
      document.documentElement.style.fontSize = document.documentElement.clientWidth / 6.4 + "px";
      var deviceWidth = document.documentElement.clientWidth;
      if (deviceWidth > 640) {
        deviceWidth = 640;
      }
      document.documentElement.style.fontSize = deviceWidth / 6.4 + "px";
    </script>


    <title></title>

    <link rel="stylesheet" href="../../static_resources/lib/css/weui.min.css">
    <link rel="stylesheet" href="../../static_resources/lib/css/jquery-weui.css">
    <link rel="stylesheet" href="../../static_resources/lib/css/demos.css">
    <!--<link rel="stylesheet" type="text/css" href="../../static_resources/css/loan/loan.css"/>-->
    <!--<link rel="stylesheet" href="../dist/mescroll.min.css">-->
    <style type="text/css">
        * {
            touch-action: pan-y;
            box-sizing: border-box;
        }
        #contentLines p{
            text-indent: 2em;
            line-height: 20px;
        }
        #timebox{
            text-align: right;
            padding-right: 10%;
            font-size: 14px;
            color: #aaa;
            margin-top: 30px;
        }
        #contentLines img{
            width: 70%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div style="text-align: center;height: 40px;line-height: 40px;border-bottom: 1px solid #E4E4E4;">
    <!--<a class="weui-navbar__item weui-bar__item&#45;&#45;on tab1" href="#tab1">产品</a>-->
    <!--<a class="weui-navbar__item tab2" href="#tab2">更多</a>-->
    公告详情
</div>
<div style="width: 100%;">
    <h4 style="text-align: center;" id="articleTitle"></h4>
    <div id="contentLines" style="padding-left: 5%;padding-right: 5%;width: 100%;">

    </div>
    <div id="timebox">
        发布时间：<span id="createDateString"></span>
    </div>
</div>

<script src="../../static_resources/lib/js/jquery-2.1.4.js"></script>
<script src="../../static_resources/lib/js/fastclick.js"></script>
<script src="../../static_resources/js/jquery-weui.js"></script>

<script>
    var  noticeId = queryString().noticeId;
    var _data = {
      id: noticeId
    }
  $.ajax({
    type: "post",
    url: host + "/article/findArticleById",
    async: true,
    cache: false,
    data: JSON.stringify(_data),
    contentType: "application/json; charset=utf-8",
    dataType: "json",

    success: function (ret) {
      console.log(ret)
      var con = ret.articleLongVO;
      $("#articleTitle").text(con.articleTitle);
      $("#contentLines").html(con.contentLines);
      $("#createDateString").text(con.createDateString);
    }
  })
</script>

</body>
</html>