*{
	list-style: none;
	font-size: 14px;
	color: #333;
}
.weui_tab_top{
	width: 100%;
	height: 0.84rem;
	line-height: 0.84rem;
	text-align: center;
	background: #333333;
	color: #fff;
}
.weui_tab_top>a{
	color: #fff;
	padding-left: 0.2rem;
	float: left;
}
.weui_tab_top>h6{
	color: #fff;
	padding-right: 1.2rem;
}
.margin_top{
	margin-top: 0.3rem;
    padding: 0 0.3rem;
}
.color_lable{
	color: #0099FF;
}
.weui-cells{
	margin-top: 0.05rem;
	width: 100%;
    display: inline-block;
}
.weui-cell__hd{
	width: 40%;
	float: left;
	line-height: 0.5rem;
	text-align: right;
}
.weui-cell__bd{
	width: 60%;
	float: left;
}
.weui-input{
    width: 3.18rem;
    border: 0;
    background: #D7D7D7;
    text-align: center;
    padding: 0.1rem;
}
.weui_select{
	height: 0.52rem;
	width: 3.4rem;
	background: #ccc;
	line-height: 0.26rem;
}
.weui_btn_primary{
	width: 40%!important;
	font-size: 14px;
	margin: 0.28rem auto;
	background: #169BD5;
}
.input{
	display: inline-block;
	width: 44%;
	float: right;
}
.weui-textarea{
	width: 3.18rem;
    height: 1.6rem;
    border: 0;
    outline: 1px solid #ccc;
    /*text-align: center;*/
    padding: 0.1rem;
	text-indent: 2em;
}
.tips{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	display: none;
}
.tipstext{
    width: 50%;
    height: 30%;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%) translateY(-50%);
    text-align: center;
    padding: 20px;
}
.Sure{
	position: absolute;
	bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}