/**
 * 公共样式表
 * 网页布局
 */
.edui-container{
    width: 100% !important;
    border: 1px solid #e4e4e4;
    box-shadow: none;
}
.edui-container .edui-toolbar{
    box-shadow: none;
    border-bottom: 1px solid #e4e4e4;
}
.edui-editor-body .edui-body-container{
    width: 100% !important;
}
.select-pic-btn{
    position: absolute;
    right: 5px;
    bottom: 10px;
    z-index: 999999;
}