<!--<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>-->
<!--<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>-->
<!--<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <script type="text/javascript">
      document.documentElement.style.fontSize = document.documentElement.clientWidth / 6.4 + "px";
      var deviceWidth = document.documentElement.clientWidth;
      if (deviceWidth > 640) {
        deviceWidth = 640;
      }
      document.documentElement.style.fontSize = deviceWidth / 6.4 + "px";
    </script>
    <title>有奖问答</title>
    <link rel="stylesheet" href="../../static_resources/lib/css/weui.min.css">
    <link rel="stylesheet" href="../../static_resources/lib/css/jquery-weui.css">
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">-->
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">-->
    <link rel="stylesheet" href="../../static_resources/lib/css/demos.css">
    <link rel="stylesheet" type="text/css" href="../../static_resources/css/answer/answer.css"/>
    <style>
        #mymodal{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,0.5);
            z-index: 100;
            display: none;
        }
        #mymodal_con{
            width: 60%;
            height: 200px;
            background: #fff;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 20px;
        }
        #mymodal_header{
            height: 50px;
            line-height: 50px;
            text-align: center;
        }
        #mymodal_content{
            height: 100px;
            line-height: 100px;
            text-align: center;
            border-bottom: 1px solid #eee;
            border-top: 1px solid #eee;
        }
        #mymodal_btn{
            height: 50px;
            line-height: 50px;
            text-align: center;
        }
    </style>
</head>
<body>
<!--有奖问答-->
<div class="weui_tab" style="padding: 20px;">
    <form id="myform"  >
        <!--<div class="weui-flex">-->
            <!--<div class="weui_panel_hd">1. 防范电信诈骗的措施包括（）</div>-->
            <!--<div class="weui_cells weui_cells_checkbox">-->
                <!--<label class="weui_cell weui_check_label">-->
                    <!--<div class="weui_cell_hd">-->
                        <!--<input type="radio" class="weui_check" name="checkbox1">-->
                        <!--<i class="weui_icon_checked"></i>-->
                    <!--</div>-->
                    <!--<div class="weui_cell_bd weui_cell_primary">-->
                        <!--<p>不透露</p>-->
                    <!--</div>-->
                <!--</label>-->
                <!--<label class="weui_cell weui_check_label">-->
                    <!--<div class="weui_cell_hd">-->
                        <!--<input type="radio" name="checkbox1" class="weui_check" >-->
                        <!--<i class="weui_icon_checked"></i>-->
                    <!--</div>-->
                    <!--<div class="weui_cell_bd weui_cell_primary">-->
                        <!--<p>不转账</p>-->
                    <!--</div>-->
                <!--</label>-->
                <!--<label class="weui_cell weui_check_label">-->
                    <!--<div class="weui_cell_hd">-->
                        <!--<input type="radio" name="checkbox1" class="weui_check" >-->
                        <!--<i class="weui_icon_checked"></i>-->
                    <!--</div>-->
                    <!--<div class="weui_cell_bd weui_cell_primary">-->
                        <!--<p>不轻信</p>-->
                    <!--</div>-->
                <!--</label>-->
                <!--<label class="weui_cell weui_check_label" >-->
                    <!--<div class="weui_cell_hd">-->
                        <!--<input type="radio" name="checkbox1" class="weui_check">-->
                        <!--<i class="weui_icon_checked"></i>-->
                    <!--</div>-->
                    <!--<div class="weui_cell_bd weui_cell_primary">-->
                        <!--<p>要及时报案</p>-->
                    <!--</div>-->
                <!--</label>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div style="text-align: center;margin: 50px;">-->
            <!--<button type="button" style="padding: 0.1rem 0.3rem;letter-spacing: 5px;border-radius: 5px;-->
            <!--background: #5cadff;border: none;outline: none;color: #fff;">提交</button>-->
        <!--</div>-->
        <!--<div class="weui-flex">-->
            <!--<div class="weui_panel_hd">恭喜您！您是第99位正确答题者，中奖啦！</div>-->
        <!--</div>-->
    </form>
</div>
<div id="mymodal">
    <div id="mymodal_con">
        <div id="mymodal_header">提示</div>
        <div id="mymodal_content"></div>
        <div id="mymodal_btn" data-type="">确定</div>
    </div>
</div>
<script src="../../static_resources/lib/js/jquery-2.1.4.js"></script>
<script src="../../static_resources/lib/js/fastclick.js"></script>
<script src="../../static_resources/js/jquery-weui.js"></script>
<!--<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>-->
<!--<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>-->
<script src="../../static_resources/js/answer/answer.js"></script>
<script>
    var id = queryString().id;
    var quesLen = 0;
    var answerRecord = {};
    console.log(id);
    if(!id){
      location.replace('../questionnaire/questionnaire.hrml');
    }else{
      $.ajax({
        url: host + '/popQuiz/findQuestionPage',
        type: "post",
        async: true,
        cache: false,
        contentType: "text/json",
        dataType: "json",
        data: JSON.stringify({
          pageNo:1,
          pageSize:999,
          questionnaireId: id,
        }),
        success: function (data) {
          console.log(data)
          var str = '';
          var list = data.questionList;
          quesLen = list.length;
          list.forEach(function (item,index) {
            answerRecord["answer_"+(index+1)] = false;
            str +=`
                <div class="weui-flex">
            <div class="weui_panel_hd">${index+1}.${ item.question }（）</div>
            <input type="hidden" value="${ item.collectOption }" name="${'hidden_'+(index+1)}">
            <div class="weui_cells weui_cells_checkbox">
                <label class="weui_cell weui_check_label">
                    <div class="weui_cell_hd">
                        <input type="radio" class="weui_check" name="${'radio_'+(index+1)}" value="1">

                        <i class="weui_icon_checked"></i>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>${ item.option1}</p>
                    </div>
                </label>
                <label class="weui_cell weui_check_label">
                    <div class="weui_cell_hd">
                        <input type="radio" name="${'radio_'+(index+1)}" class="weui_check" value="2">
                        <i class="weui_icon_checked"></i>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>${ item.option2}</p>
                    </div>
                </label>
                <label class="weui_cell weui_check_label">
                    <div class="weui_cell_hd">
                        <input type="radio" name="${'radio_'+(index+1)}" class="weui_check" value="3">
                        <i class="weui_icon_checked"></i>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>${ item.option3}</p>
                    </div>
                </label>
                <label class="weui_cell weui_check_label" >
                    <div class="weui_cell_hd">
                        <input type="radio" name="${'radio_'+(index+1)}" class="weui_check" value="4">
                        <i class="weui_icon_checked"></i>
                    </div>
                    <div class="weui_cell_bd weui_cell_primary">
                        <p>${ item.option4}</p>
                    </div>
                </label>
            </div>
        </div>
            `;
          })
          str+=`<div style="text-align: center;margin: 50px;">
            <button type="button" style="padding: 0.1rem 0.3rem;letter-spacing: 5px;border-radius: 5px;
            background: #5cadff;border: none;outline: none;color: #fff;" id="submit">提交</button>
            <p id="tips" style="color: red;display: none;">您有题目尚未完成,暂时无法提交</p>
        </div>`;
          //
          $("#myform").html(str);
        },
        error: function (err) {

        }
      })
    }

    $("#myform").on('click','#submit',function () {
      var answerArr = $("#myform").serializeArray();
      console.log(answerArr)
      if((answerArr.length) < (2*quesLen)){
        $("#tips").fadeIn();
      }else{
        $("#tips").fadeOut();
        var serializeObj={}
        answerArr.forEach(function (item) {
          serializeObj[item.name] = item.value;
        })
       for(let i=0;i<quesLen;i++){
         var a = i+1;
         var hiddenKey = "hidden_"+a;
         var radioKey = "radio_"+a;
         if(serializeObj[hiddenKey] == serializeObj[radioKey]){
           answerRecord["answer_"+a] = true;
         }else {
           answerRecord["answer_"+a] = false;
         }
       }
       console.log(answerRecord);
       console.log(serializeObj);
       var allok = true;
       for(var k in answerRecord){
         if(answerRecord[k] === false ){
           allok = false;
         }
       }
       if(allok){
         $("#mymodal_content").html("恭喜您全部答对啦！");
         $("#mymodal_btn").attr("data-type","ok");
         $("#mymodal").fadeIn();
       }else{
         $("#mymodal_content").html("有错题，点击确认重新答题！");
         $("#mymodal_btn").attr("data-type","no");
         $("#mymodal").fadeIn();
       }
      }
    });
    $("#mymodal_btn").on("click",function () {
      var type = $(this).attr("data-type");
      if(type==="ok"){
        $.ajax({
          url: host + '/popQuiz/addNewCollectUser',
          type: "post",
          async: true,
          cache: false,
          contentType: "text/json",
          dataType: "json",
          data: JSON.stringify({
            questionnaireId: id
          }),
          success: function (data) {
            $("#mymodal").fadeOut();
            alert("提交成功")
            WeixinJSBridge.call('closeWindow');
          },
          error: function (err) {
            $("#mymodal").fadeOut();
            alert(err.toString())
          }
        })
      }else if(type==="no"){
        $("#mymodal").fadeOut();
        // window.location.reload();
      }
    })


</script>
</body>
</html>