<!--<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%><%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %><%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>-->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<sec:csrfMetaTags/>-->
    <meta name="Keywords" content="系统管理">
    <meta name="Description" content="系统管理">
    <title>系统管理</title>
    <link href="admin_resources/lib/iconfont/iconfont.css" type="text/css" rel="stylesheet">
    <link href="admin_resources/lib/layui/css/layui.css" type="text/css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="admin_resources/lib/js/html5shiv.js"></script>
    <script src="admin_resources/lib/js/respond.js"></script>
    <![endif]-->
    <link href="admin_resources/lib/css/animate.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="admin_resources/lib/css/resetStyle.css"/>
    <link rel="stylesheet" type="text/css" href="admin_resources/lib/css/resetUi.css"/>
    <link rel="stylesheet" type="text/css" href="admin_resources/css/login.css"/>
</head>
<body>
<!-- 背景 -->
<div class="skip">
    <img src="admin_resources/images/login_bg.png"/>
</div>
<!-- 主体内容 -->
<div class="wrap-box">
    <div class="header">
        <div class="logo">
            <a href="javascript:void(0);"><img src="admin_resources/images/login_logo.png"/></a>
        </div>
    </div>
    <div class="main">
        <div class="layui-tab layui-tab-brief" id="layui-tab" style="visibility: hidden;">
            <ul class="layui-tab-title">
                <li class="layui-this" login-type="account">账户登录</li>
                <li login-type="phone">短信登陆</li>
                <li login-type="concatenation">级联登陆</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show" login-type="account">
                    <form class="layui-form">
                        <div class="layui-form-item">
                            <p style="font-size: 12px;color: #bec5ca;">登录名/用户编号</p>
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="text" name="userCode" placeholder="" class="layui-input" id="userCode"
                                           autocomplete="off" lay-verify="required">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <p style="font-size: 12px;color: #bec5ca;">密码</p>
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="password" name="pwd" placeholder="" class="layui-input" id="pwd"
                                           autocomplete="off" lay-verify="required">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item" style="visibility: hidden;">
                            <div class="layui-inline clear" style="border: none;">
                                <input type="checkbox" name="rememberLoginMsg" lay-skin="primary" title="记住我的登录信息"
                                       id="rememberLoginMsg" autocomplete="off">
                            </div>
                        </div>
                        <div class="layui-form-item" style="margin-top: 20px;">
                            <div class="layui-inline clear" style="border: none;margin: 0;">
                                <button class="layui-btn layui-btn-custom-blue" lay-submit lay-filter="loginBtn"
                                        id="loginBtn">登 录
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-tab-item" login-type="phone">
                    <form class="layui-form">
                        <div class="layui-form-item">
                            <p style="font-size: 12px;color: #bec5ca;">手机号码</p>
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="text" name="mobile" placeholder="" class="layui-input" id="mobile"
                                           autocomplete="off" lay-verify="required">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <p style="font-size: 12px;color: #bec5ca;">验证码</p>
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="text" name="smsCode" placeholder="" class="layui-input" id="smsCode"
                                           autocomplete="off" lay-verify="required" style="padding-right: 80px;">
                                    <button id="getValidCodeBtn"
                                            style="position: absolute;right: 5px;top: 5px;color: #bec5ca;background: transparent;cursor: pointer;">
                                        获取验证码
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div style="height: 58px;"></div>
                        <div class="layui-form-item" style="margin-top: 20px;">
                            <div class="layui-inline clear" style="border: none;margin: 0;">
                                <button class="layui-btn layui-btn-custom-blue" lay-submit lay-filter="phoneLoginBtn"
                                        id="phoneLoginBtn">登 录
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-tab-item" login-type="concatenation">
                    <form class="layui-form">
                        <div class="layui-form-item">
                            <p style="font-size: 12px;color: #bec5ca;">登录名/用户编号</p>
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="text" name="userCode" placeholder="" class="layui-input"
                                           id="concatenationUserCode" autocomplete="off" lay-verify="required">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <p style="font-size: 12px;color: #bec5ca;">密码</p>
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="password" name="pwd" placeholder="" class="layui-input"
                                           id="concatenationPwd" autocomplete="off" lay-verify="required">
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <p style="font-size: 12px;color: #bec5ca;">验证码</p>
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input type="text" name="smsCode" placeholder="" class="layui-input"
                                           id="concatenationSmsCode" autocomplete="off" lay-verify="required"
                                           style="padding-right: 80px;">
                                    <button id="concatenationGetValidCodeBtn"
                                            style="position: absolute;right: 5px;top: 5px;color: #bec5ca;background: transparent;cursor: pointer;">
                                        获取验证码
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item" style="margin-top: 20px;">
                            <div class="layui-inline clear" style="border: none;margin: 0;">
                                <button class="layui-btn layui-btn-custom-blue" lay-submit
                                        lay-filter="concatenationLoginBtn" id="concatenationLoginBtn">登 录
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="admin_resources/lib/js/jquery-1.12.2.min.js"></script>
<script type="text/javascript" src="admin_resources/lib/layui/layui.js"></script>
<script type="text/javascript" src="admin_resources/lib/js/json2.js"></script>
<script type="text/javascript" src="admin_resources/lib/js/md5.js"></script>
<script type="text/javascript" src="admin_resources/lib/js/jquery.cookie.js"></script>
<script type="text/javascript" src="admin_resources/lib/js/easy.ajax.js"></script>
<script type="text/javascript" src="admin_resources/lib/js/require.js" data-main="../admin_resources/js/login"></script>
</body>
</html>