*{
	list-style: none;
	font-size: 14px;
	color: #333;
}
.weui_tab_top{
	width: 100%;
	height: 0.84rem;
	line-height: 0.84rem;
	text-align: center;
	background: #333333;
	color: #fff;
}
.weui_tab_top>a{
	color: #fff;
	padding-left: 0.2rem;
	float: left;
}
.weui_tab_top>h6{
	color: #fff;
	padding-right: 1.2rem;
}
.weui_panel{
	text-align: center;
}
.weui_cell{
	display: inline-block;
}
.weui_panel:before{
	border: 0;
}
