*{
	list-style: none;
	font-size: 14px;
	color: #333;
}
.weui_tab_top{
	width: 100%;
	height: 0.84rem;
	line-height: 0.84rem;
	text-align: center;
	background: #333333;
	color: #fff;
}
.weui_tab_top>a{
	color: #fff;
	padding-left: 0.2rem;
	float: left;
}
.weui_tab_top>h6{
	color: #fff;
	padding-right: 1.2rem;
}
.weui-tab__bd-item{
	display: none;
}
.weui-tab__bd-item--active{
	display: block;
}
.weui-bar__item--on{
	color: #0099FF;
}
.weui-navbar{
	width: 90%;
	height: 0.7rem;
	margin:  0.32rem auto 0;
	text-align: center;
}
.weui-navbar__item{
    display: inline-block;
    float: left;
    width: 25%;
    padding: 0.12rem 0;
    outline: 0.01rem solid #E4E4E4;
}
.weui_select{
	height: 0.6rem;
	width: 100%;
	line-height: 0.6rem;
    border: 1px solid #A9A9A9;
}
.weui-tab__bd{
	width: 90%;
	margin: 0 auto;
}
.weui-cells__title{
	margin-top: 0.2rem;
}
.weui-input{
	width: 100%;
	height: 0.6rem;
	border: 0;
	text-indent: 10px;
    outline: 1px solid #ccc;
	margin-top: 0.14rem;
}
.Verification{
	height: 0.6rem;
	border: 0;
	text-indent: 10px;
    outline: 1px solid #ccc;
	margin-top: 0.14rem;
}
.Verif_button{
	height: 0.65rem;
	float: right;
	background: #169BD5;
	color: #fff;
	border: 0;
	border-radius: 5px;
	padding: 0 6px;
	margin-top: 0.14rem;
}
.weui_btn_primary{
	width: 60%!important;
	font-size: 16px;
	margin: 0.28rem auto;
	background: #169BD5;
}
.tip{
	width: 3rem;
	height: 1rem;
	background-color: rgba(0, 0, 0, 0.6);
	line-height: 1rem;
	text-align: center;
	color: #fcfcfc;
	font-size: 0.3rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin:auto;
	display: none;
}
.tips{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	display: none;
}
.tipstext{
    width: 50%;
    height: 30%;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%) translateY(-50%);
    text-align: center;
    padding: 20px;
}
.Sure{
	position: absolute;
	bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}