*{
	list-style: none;
	font-size: 0.14rem;
	color: #333;
}
.weui_tab_top{
	width: 100%;
	height: 0.84rem;
	line-height: 0.84rem;
	text-align: center;
	background: #333333;
	color: #fff;
}
.weui_tab_top>a{
	color: #fff;
	padding-left: 0.2rem;
	float: left;
}
.weui_tab_top>h6{
	color: #fff;
	padding-right: 1.2rem;
}
.weui_panel_hd{
	padding: 0.1rem 0;
	margin: 0.1rem 0;
}
.weui_cells{
	/*width: 60%;*/
	margin: 0;
	text-align: center;
}
.weui_cell{
	padding: 5px 15px;
}
.weui_cell_primary{
	text-align: left;
	padding-left: 10px;
}
.weui_cells:after, .weui_cells:before ,.weui_cell:before{
	border: 0;
}
