.weui_body{
	border-bottom: 0.1rem solid #E4E4E4;
}
.weui_panel_hd:after{
	border: 0;
}
.weui_panel:after,.weui_panel:before{
	border: 0;
}
.weui_media_box{
	padding-top: 0;
}
.weui_top{
	width: 72%;
	text-align: center;
	padding-top: 1.6rem;
	margin: 0 auto;
}
.weui_top_div{
	width: 1.78rem;
	height: 1.78rem;
	margin: 0 auto 0.16rem;
}
.weui_top_div>img{
	width: 100%;
}
.weui_top p{
	font-size: 14px;
	margin-top: 0.3rem;
	text-align: left;
	color: #333;
}
.weui_top a{
	display: inline-block;
	width: 100%;
	color: #00CC33;
	text-align: center;
	margin-top: 0.42rem;
	margin-bottom: 0.24rem;
}
